@charset "UTF-8";
.cont2 {
  padding: 20px;
}
.cont2 h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}
.cont2 .table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}
.cont2 .table .table-header {
  background-color: #f4f4f4;
  font-weight: bold;
}
.cont2 .table .table-header .table-row {
  display: flex;
}
.cont2 .table .table-header .table-row .cell {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  word-break: break-word; /* 긴 텍스트 줄바꿈 */
}
.cont2 .table .table-body .table-row {
  display: flex;
  background-color: #f0f0f0;
}
.cont2 .table .table-body .table-row .cell {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 29px;
  /* 특이사항 input */
}
.cont2 .table .table-body .table-row .cell input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
}

.modal-content::-webkit-scrollbar {
  width: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}