.admin-wrap {
  margin-top: 80px;
  padding: 30px 0 100px;
}
.admin-wrap .center {
  display: flex;
}
.admin-wrap .admin-tab {
  margin-right: 30px;
  width: 270px;
}
.admin-wrap .admin-tab .tab-title {
  position: relative;
  margin-bottom: 10px;
  padding: 0 20px;
  width: 100%;
  line-height: 50px;
  background: #2B3E4F;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.admin-wrap .admin-tab .tab-title i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.admin-wrap .admin-tab .tab-menu > li {
  margin-bottom: 8px;
  padding: 0 20px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 15px;
  color: #333;
  line-height: 40px;
  background: #eaeaea;
  cursor: pointer;
}
.admin-wrap .admin-tab .tab-menu > li:last-child {
  margin-bottom: 0;
}
.admin-wrap .admin-tab .tab-menu > li.on {
  color: #fff;
  font-weight: 500;
  border-color: #777;
  background: #777;
}
.admin-wrap .admin-tab .tab-menu > li:hover {
  font-weight: 500;
  border-color: #777;
}
.admin-wrap .tab-contents {
  width: calc(100% - 300px);
  background-color: pink;
}
.admin-wrap .tab-contents .cont {
  display: none;
}
.admin-wrap .tab-contents .cont.on {
  display: block;
}