.cont5 {
  padding: 20px;
}
.cont5 h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}
.cont5 .search,
.cont5 .list {
  margin-bottom: 30px;
}
.cont5 .search .searchwrap,
.cont5 .search .listwrapper,
.cont5 .list .searchwrap,
.cont5 .list .listwrapper {
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 5px;
}
.cont5 .search .searchwrap .header,
.cont5 .search .listwrapper .header,
.cont5 .list .searchwrap .header,
.cont5 .list .listwrapper .header {
  margin-bottom: 20px;
}
.cont5 .search .searchwrap .button-container,
.cont5 .search .listwrapper .button-container,
.cont5 .list .searchwrap .button-container,
.cont5 .list .listwrapper .button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.cont5 .search .searchwrap .button-container .reset,
.cont5 .search .listwrapper .button-container .reset,
.cont5 .list .searchwrap .button-container .reset,
.cont5 .list .listwrapper .button-container .reset {
  box-sizing: border-box;
  background: #fff;
  color: #333;
  border: 1px solid #333;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s;
}
.cont5 .search .searchwrap .button-container .reset:hover,
.cont5 .search .listwrapper .button-container .reset:hover,
.cont5 .list .searchwrap .button-container .reset:hover,
.cont5 .list .listwrapper .button-container .reset:hover {
  background-color: #efefef;
}
.cont5 .search .searchwrap .button-container .submit,
.cont5 .search .listwrapper .button-container .submit,
.cont5 .list .searchwrap .button-container .submit,
.cont5 .list .listwrapper .button-container .submit {
  box-sizing: border-box;
  background: #333;
  color: #fff;
  border: 1px solid #333;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cont5 .search .searchwrap .button-container .submit:hover,
.cont5 .search .listwrapper .button-container .submit:hover,
.cont5 .list .searchwrap .button-container .submit:hover,
.cont5 .list .listwrapper .button-container .submit:hover {
  background-color: #555;
  color: #fff;
}
.cont5 .search .searchwrap .search-container,
.cont5 .search .listwrapper .search-container,
.cont5 .list .searchwrap .search-container,
.cont5 .list .listwrapper .search-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  line-height: 2;
  font-size: 14px;
}
.cont5 .search .searchwrap .search-container .cell,
.cont5 .search .listwrapper .search-container .cell,
.cont5 .list .searchwrap .search-container .cell,
.cont5 .list .listwrapper .search-container .cell {
  width: 80px;
  padding: 0 10px 0 10px;
}
.cont5 .search .searchwrap .search-container .con,
.cont5 .search .searchwrap .search-container .category,
.cont5 .search .listwrapper .search-container .con,
.cont5 .search .listwrapper .search-container .category,
.cont5 .list .searchwrap .search-container .con,
.cont5 .list .searchwrap .search-container .category,
.cont5 .list .listwrapper .search-container .con,
.cont5 .list .listwrapper .search-container .category {
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.cont5 .search .searchwrap .search-container .con,
.cont5 .search .listwrapper .search-container .con,
.cont5 .list .searchwrap .search-container .con,
.cont5 .list .listwrapper .search-container .con {
  width: 300px;
}
.cont5 .search .searchwrap .header,
.cont5 .search .listwrapper .header,
.cont5 .list .searchwrap .header,
.cont5 .list .listwrapper .header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.cont5 .search .searchwrap .header h3,
.cont5 .search .listwrapper .header h3,
.cont5 .list .searchwrap .header h3,
.cont5 .list .listwrapper .header h3 {
  line-height: 2.2;
}
.cont5 .search .searchwrap .header .submit,
.cont5 .search .listwrapper .header .submit,
.cont5 .list .searchwrap .header .submit,
.cont5 .list .listwrapper .header .submit {
  box-sizing: border-box;
  background: #7a6c64;
  color: #fff;
  border: 1px solid #333;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.cont5 .search .searchwrap .header .submit:hover,
.cont5 .search .listwrapper .header .submit:hover,
.cont5 .list .searchwrap .header .submit:hover,
.cont5 .list .listwrapper .header .submit:hover {
  background-color: #6a5b54;
  color: #fff;
}
.cont5 .search .searchwrap .list-container,
.cont5 .search .listwrapper .list-container,
.cont5 .list .searchwrap .list-container,
.cont5 .list .listwrapper .list-container {
  padding: 0px;
}
.cont5 .search .searchwrap .list-container .Ntitle,
.cont5 .search .listwrapper .list-container .Ntitle,
.cont5 .list .searchwrap .list-container .Ntitle,
.cont5 .list .listwrapper .list-container .Ntitle {
  margin: 25px 5px;
  font-weight: bold;
  color: #333;
}
.cont5 .search .searchwrap .list-container .Nboard-nav,
.cont5 .search .listwrapper .list-container .Nboard-nav,
.cont5 .list .searchwrap .list-container .Nboard-nav,
.cont5 .list .listwrapper .list-container .Nboard-nav {
  font-weight: bold;
  line-height: 50px;
}
.cont5 .search .searchwrap .list-container .Nboard-nav,
.cont5 .search .searchwrap .list-container .listwrap,
.cont5 .search .listwrapper .list-container .Nboard-nav,
.cont5 .search .listwrapper .list-container .listwrap,
.cont5 .list .searchwrap .list-container .Nboard-nav,
.cont5 .list .searchwrap .list-container .listwrap,
.cont5 .list .listwrapper .list-container .Nboard-nav,
.cont5 .list .listwrapper .list-container .listwrap {
  height: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #faf8f4;
}
.cont5 .search .searchwrap .list-container .Nboard .listwrap,
.cont5 .search .listwrapper .list-container .Nboard .listwrap,
.cont5 .list .searchwrap .list-container .Nboard .listwrap,
.cont5 .list .listwrapper .list-container .Nboard .listwrap {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 0px;
  border-bottom: 1px solid #ccc;
}
.cont5 .search .searchwrap .list-container .listwrap,
.cont5 .search .listwrapper .list-container .listwrap,
.cont5 .list .searchwrap .list-container .listwrap,
.cont5 .list .listwrapper .list-container .listwrap {
  background-color: transparent;
}
.cont5 .search .searchwrap .list-container .N-num,
.cont5 .search .listwrapper .list-container .N-num,
.cont5 .list .searchwrap .list-container .N-num,
.cont5 .list .listwrapper .list-container .N-num {
  width: 10%;
  text-align: center;
}
.cont5 .search .searchwrap .list-container .N-title,
.cont5 .search .listwrapper .list-container .N-title,
.cont5 .list .searchwrap .list-container .N-title,
.cont5 .list .listwrapper .list-container .N-title {
  width: 40%;
  text-align: center;
  padding: 0 10px;
}
.cont5 .search .searchwrap .list-container .N-title .Nlink,
.cont5 .search .listwrapper .list-container .N-title .Nlink,
.cont5 .list .searchwrap .list-container .N-title .Nlink,
.cont5 .list .listwrapper .list-container .N-title .Nlink {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cont5 .search .searchwrap .list-container .N-option,
.cont5 .search .searchwrap .list-container .N-view,
.cont5 .search .searchwrap .list-container .N-date,
.cont5 .search .searchwrap .list-container .MDbtn,
.cont5 .search .searchwrap .list-container .add,
.cont5 .search .listwrapper .list-container .N-option,
.cont5 .search .listwrapper .list-container .N-view,
.cont5 .search .listwrapper .list-container .N-date,
.cont5 .search .listwrapper .list-container .MDbtn,
.cont5 .search .listwrapper .list-container .add,
.cont5 .list .searchwrap .list-container .N-option,
.cont5 .list .searchwrap .list-container .N-view,
.cont5 .list .searchwrap .list-container .N-date,
.cont5 .list .searchwrap .list-container .MDbtn,
.cont5 .list .searchwrap .list-container .add,
.cont5 .list .listwrapper .list-container .N-option,
.cont5 .list .listwrapper .list-container .N-view,
.cont5 .list .listwrapper .list-container .N-date,
.cont5 .list .listwrapper .list-container .MDbtn,
.cont5 .list .listwrapper .list-container .add {
  width: 10%;
  text-align: center;
}
.cont5 .search .searchwrap .list-container .MDbtn,
.cont5 .search .listwrapper .list-container .MDbtn,
.cont5 .list .searchwrap .list-container .MDbtn,
.cont5 .list .listwrapper .list-container .MDbtn {
  display: flex;
  padding: 0 10px;
  justify-content: space-around;
  align-items: center;
}
.cont5 .search .searchwrap .list-container .MDbtn :hover,
.cont5 .search .listwrapper .list-container .MDbtn :hover,
.cont5 .list .searchwrap .list-container .MDbtn :hover,
.cont5 .list .listwrapper .list-container .MDbtn :hover {
  font-weight: 700;
}