.container {
  display: flex;
  width: 100%;
}
.container .depth3-tab-wrap .tab li {
  width: 50%;
}
.container .depth3-tab-wrap .lost-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.container .depth3-tab-wrap .lost-info .lost-pw {
  margin: 20px auto;
}
.container .depth3-tab-wrap .lost-info .comment {
  text-align: center;
  margin: 20px auto;
}
.container .depth3-tab-wrap .lost-info .comment p {
  font-size: 14px;
  font-weight: 400;
  margin: 10px auto;
  line-height: 30px;
  padding: 0 20px;
}
.container .depth3-tab-wrap .lost-info .indentity-confirm {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  background-color: #7a6c64;
  border: 2px solid #7a6c64;
  box-sizing: border-box;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.container .depth3-tab-wrap .lost-info .indentity-confirm:hover {
  background-color: #333;
  border-color: #333;
}

.pw-chk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.pw-chk .my-pw {
  margin: 20px auto;
}
.pw-chk .comment {
  text-align: center;
}
.pw-chk .comment p {
  font-size: 14px;
  font-weight: 400;
  margin: 10px auto;
  line-height: 30px;
  padding: 0 20px;
}
.pw-chk .input-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pw-chk .input-container .chkwrap {
  display: flex;
  justify-content: space-between;
}
.pw-chk .input-container .chkwrap .title {
  font-weight: 400;
}
.pw-chk .input-container .id_chk {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pw-chk .input-container .id_chk .err {
  margin-top: 5px;
  color: #f00;
  font-weight: 500;
}
.pw-chk .input-container .title {
  width: 100px;
  font-size: 16px;
  text-align: right;
  margin-top: 30px;
}
.pw-chk .input-container .title.mechk {
  width: 100%;
  text-align: start;
}
.pw-chk .input-container .input-wrap {
  justify-content: left;
  margin-top: 20px;
}
.pw-chk .input-container .input-wrap input {
  width: 400px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 10px;
}
.pw-chk .input-container .input-wrap .errmsg {
  margin-top: 5px;
  color: #f00;
  font-weight: 500;
}
.pw-chk #edit {
  margin-top: 20px;
  width: 150px;
  padding: 10px;
  font-size: 16px;
  background-color: #7a6c64;
  border: 2px solid #7a6c64;
  box-sizing: border-box;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.pw-chk #edit:hover {
  background-color: #333;
  border-color: #333;
}

@media screen and (max-width: 1240px) {
  .container {
    display: flex;
    width: 100%;
  }
  .container .depth3-tab-wrap .tab li {
    width: 50%;
  }
  .container .depth3-tab-wrap .lost-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
  }
  .container .depth3-tab-wrap .lost-info .lost-pw {
    margin: 20px auto;
  }
  .container .depth3-tab-wrap .lost-info .comment {
    text-align: center;
    margin: 20px auto;
  }
  .container .depth3-tab-wrap .lost-info .comment p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px auto;
    line-height: 30px;
    padding: 0 20px;
  }
  .container .depth3-tab-wrap .lost-info .indentity-confirm {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: #7a6c64;
    border: 2px solid #7a6c64;
    box-sizing: border-box;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .container .depth3-tab-wrap .lost-info .indentity-confirm:hover {
    background-color: #333;
    border-color: #333;
  }
  .pw-chk {
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
  }
  .pw-chk .my-pw {
    margin: 20px auto;
  }
  .pw-chk .comment {
    text-align: center;
    width: 100%;
  }
  .pw-chk .comment p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px auto;
    line-height: 30px;
    padding: 0 20px;
  }
  .pw-chk .input-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .pw-chk .input-container label {
    width: 100px;
    font-size: 14px;
    text-align: right;
    margin-top: 32px;
  }
  .pw-chk .input-container .input-wrap {
    justify-content: left;
    margin-top: 20px;
  }
  .pw-chk .input-container .input-wrap input {
    min-width: 400px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 10px;
  }
  .pw-chk .input-container .input-wrap .error-message {
    display: block;
    color: #f00;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 10px;
    line-height: 1;
    text-align: left;
    margin-left: 10px;
  }
  .pw-chk #edit {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: #7a6c64;
    border: 2px solid #7a6c64;
    box-sizing: border-box;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .pw-chk #edit:hover {
    background-color: #333;
    border-color: #333;
  }
}
@media screen and (max-width: 768px) {
  .pw-chk {
    width: 100%;
  }
}