#shilla-join {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 1200px;
  font-size: 14px;
  background-color: #faf8f4;
}
#shilla-join .clause-wrap .join,
#shilla-join .clause-wrap .agree {
  margin-top: 50px;
  text-align: center;
  color: #333;
}
#shilla-join .clause-wrap .direction {
  margin-top: 20px;
  text-align: center;
  font-weight: 300;
  color: #333;
}