main .cont-tit {
  padding: 100px 0 10px;
  font-size: 30px;
  text-align: center;
}
main .cont1 {
  margin-top: 80px;
}
main .cont1 .swiper {
  width: 100%;
  height: 650px;
}
main .cont1 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
main .cont1 .swiper-slide.slide1 {
  background: url(../img/main/main-slide-1.jpg) no-repeat center/cover;
}
main .cont1 .swiper-slide.slide2 {
  background: url(../img/main/main-slide-2.jpg) no-repeat center/cover;
}
main .cont1 .swiper-slide.slide3 {
  background: url(../img/main/main-slide-3.jpg) no-repeat center/cover;
}
main .cont1 .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 20px);
}
main .cont1 .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
  width: 35px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 16px;
  background: transparent;
  opacity: 1;
}
main .cont1 .swiper-pagination-bullet-active {
  background: #fff;
}
main .cont1 .swiper-button-next, main .cont1 .swiper-button-prev {
  color: #fff;
}
main .cont1 .swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 60px);
}
main .cont1 .swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 50px);
}
main .cont2 {
  height: 250px;
  background: #ddd;
}
main .cont3 {
  height: 100vh;
}
main .cont6 {
  text-align: center;
}
main .cont6 .title_box p {
  font-size: 15px;
  margin-top: 15px;
}
main .cont6 .video_wrap {
  width: 1100px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
main .cont6 .video_wrap video {
  width: 100%;
}
main .cont6 .video_wrap .vid_btn {
  position: absolute;
  cursor: pointer;
  width: 120px;
  transition: all 0.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .cont6 .video_wrap .vid_btn.hide {
  display: none;
}
main .cont6 .video_wrap .vid_btn img {
  width: 100%;
}