main .cont1 .swiper {
  width: 100%;
  height: 100vh;
}
main .cont1 .swiper .swiper-slide {
  position: relative;
}
main .cont1 .swiper .swiper-slide .slideImg {
  width: 100%;
  height: 100vh;
}
main .cont1 .swiper .slide1 .slideImg {
  background: url(../img/slide01.jpg) center/cover no-repeat;
}
main .cont1 .swiper .slide2 .slideImg {
  background: url(../img/slide02.jpg) center/cover no-repeat;
}
main .cont1 .swiper .slide3 .slideImg {
  background: url(../img/slide03.jpg) center/cover no-repeat;
}