.form-wrap {
  display: relative;
  font-size: 14px;
  padding: 10px;
}
.form-wrap .join-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
}
.form-wrap .join-container .info-title {
  margin: 150px auto 30px;
  padding: 10px;
}
.form-wrap .join-container .info-group #pid {
  width: 390px;
  margin-right: 10px;
}
.form-wrap .join-container .info-group .input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrap .join-container .info-group .input-container label {
  width: 150px;
  font-size: 16px;
}
.form-wrap .join-container .info-group .input-container input {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.form-wrap .join-container .info-group .input-container #id-chk {
  width: 100px;
  height: 40px;
  background-color: #7a6c64;
  color: #faf8f4;
}
.form-wrap .join-container .info-group .input-container #id-chk:hover {
  background-color: #333;
}
.form-wrap .join-container .info-group .error-message {
  color: #f00;
  font-size: 12px;
  margin-top: 5px;
  height: 10px;
  line-height: 1;
  display: block;
}
.form-wrap .join-container .info-group select {
  width: 167px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-wrap .join-container #firstname {
  width: 240px;
  margin-right: 20px;
}
.form-wrap .join-container #lastname {
  width: 240px;
}
.form-wrap .join-container #start,
.form-wrap .join-container #middle,
.form-wrap .join-container #last {
  width: 163px;
}
.form-wrap .join-container #year,
.form-wrap .join-container #month,
.form-wrap .join-container #day {
  text-align: center;
}
.form-wrap .join-container #submit {
  width: 500px;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #7a6c64;
  color: #fff;
  border: none;
}
.form-wrap .join-container #submit:hover {
  background-color: #333;
}