.container {
  display: flex;
  width: 100%;
}
.container .depth3-tab-wrap .tab li {
  width: 33.3333333333%;
}
.container .content {
  position: relative;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.container .content .change-info-chk,
.container .content .reservate-info,
.container .content .inquiry-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .change-info-chk {
  display: flex;
  margin-top: 50px;
}
.container .change-info-chk label {
  font-size: 24px;
}
.container .change-info-chk #pw-chk,
.container .change-info-chk #btn-confirm,
.container .change-info-chk .pwdiv {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
}
.container .change-info-chk #pw-chk {
  width: 100%;
  min-width: 300px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
}
.container .change-info-chk #pw-chk:focus {
  border-color: #333;
}
.container .change-info-chk #btn-confirm {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #7a6c64;
  box-sizing: border-box;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 200px;
}
.container .change-info-chk #btn-confirm:hover {
  background-color: #333;
}
.container .mypage-info {
  display: block;
  position: relative;
  padding: 20px;
  transform: none;
  top: 0;
  left: 0;
}
.container .mypage-info .title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.container .mypage-info .my-info,
.container .mypage-info .user-info-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.5;
  margin: 0 auto 20px;
}
.container .mypage-info .my-info p,
.container .mypage-info .user-info-wrap p {
  width: 100px;
  margin: 0;
  text-align: center;
}
.container .mypage-info .my-info label,
.container .mypage-info .user-info-wrap label {
  text-align: right;
  font-size: 16px;
  color: #333;
}
.container .mypage-info .my-info input,
.container .mypage-info .user-info-wrap input {
  justify-content: center;
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}
.container .mypage-info .my-info #id,
.container .mypage-info .my-info #birth,
.container .mypage-info .user-info-wrap #id,
.container .mypage-info .user-info-wrap #birth {
  background-color: #ddd;
}
.container .mypage-info #edit {
  display: block;
  margin: 50px auto;
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7a6c64;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.container .mypage-info #edit:hover {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  #edit {
    display: block;
    margin: 50px auto;
    width: 40%;
    min-width: 120px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7a6c64;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  #edit:hover {
    background-color: #333;
  }
}