.container {
  width: 100%;
  font-size: 14px;
  padding: 10px;
}
.container .Ntitle {
  margin: 25px 5px;
  font-weight: bold;
  color: #333;
}
.container .Nboard-nav {
  font-weight: bold;
}
.container .Nboard-nav,
.container .listwrap {
  height: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: 50px;
  background-color: #faf8f4;
}
.container .listwrap {
  background-color: transparent;
}
.container .N-num {
  width: 10%;
  text-align: center;
}
.container .N-title {
  width: 60%;
  text-align: center;
  padding-left: 20px;
}
.container .N-title .Nlink {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .N-title :hover {
  font-weight: 600;
}
.container .N-option,
.container .N-view,
.container .N-date {
  width: 10%;
  text-align: center;
}
.container .Nsearch-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  background-color: #faf8f4;
  padding: 20px;
}
.container .Nform {
  width: 60%;
  height: 40px;
  margin: 10px;
  color: #ccc;
  display: flex;
  justify-content: space-around;
  display: flex;
  line-height: 40px;
}
.container .Nfilter {
  width: 20%;
  height: 40px;
  border: 1px solid #ccc;
}
.container .search-bar {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
}
.container .s-btn {
  width: 10%;
  color: #fff;
  font-weight: 600;
  text-align: center;
  background-color: #7a6c64;
  margin-right: 10px;
}

@media screen and (max-width: 1240px) {
  .container .Ntitle {
    margin: 25px 5px;
    font-weight: bold;
    color: #333;
  }
  .container .Nboard-nav {
    height: 50px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 50px;
    background-color: #faf8f4;
  }
  .container .Nboard-nav .N-num {
    display: none;
  }
  .container .Nboard-nav .N-title {
    width: 60%;
    text-align: center;
  }
  .container .Nboard-nav .N-option,
  .container .Nboard-nav .N-view,
  .container .Nboard-nav .Nt-date {
    width: 10%;
    text-align: center;
  }
  .container .Nboard .listwrap {
    height: 50px;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
  }
  .container .Nboard .listwrap .N-num {
    display: none;
  }
  .container .Nboard .listwrap .N-title {
    width: 60%;
    text-align: left;
  }
  .container .Nboard .listwrap .N-title .N-title:hover {
    font-weight: 600;
  }
  .container .Nboard .listwrap .N-option,
  .container .Nboard .listwrap .N-view,
  .container .Nboard .listwrap .N-date {
    width: 10%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container .Nboard-nav {
    display: none;
  }
  .container .Nboard .listwrap {
    height: auto;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .container .Nboard .listwrap .N-option {
    width: 60px;
    margin-top: 10px;
    background-color: #faf8f4;
    line-height: 1.7;
    border-radius: 3px;
  }
  .container .Nboard .listwrap .N-title {
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
  }
  .container .Nboard .listwrap .N-title .Nlink {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 20px;
  }
  .container .Nboard .listwrap .N-view {
    width: 68px;
    display: inline-block;
    font-size: 12px;
    color: #666;
    background: url(../../public/img/icon/icons_view.png) no-repeat right 0px center;
    background-size: 22%;
    padding-left: 22px;
    text-align: left;
  }
  .container .Nboard .listwrap .N-date {
    width: auto;
    display: inline-block;
    font-size: 12px;
    color: #666;
    margin-left: 10px !important;
  }
  .container .Nboard .listwrap .N-date::before {
    content: " | ";
    margin-right: 10px;
    color: #ccc;
  }
  .container .listwrap {
    text-align: left;
  }
  .container .Nsearch-wrap {
    width: 100%;
  }
  .container .Nsearch-wrap .Nform {
    width: 100%;
  }
}