.depth3-tab-wrap .context .Introduction .room-title {
  font-size: 40px;
  color: #333;
  line-height: 1.5;
}
.depth3-tab-wrap .context .Introduction .room-top-txt {
  margin-bottom: 30px;
  font-size: 22px;
  color: #7A6C64;
  line-height: 1.5;
}
.depth3-tab-wrap .context .Introduction .btn-wrap {
  width: 50%;
  margin: 0 auto;
  gap: 10px;
}
.depth3-tab-wrap .context .info h3, .depth3-tab-wrap .context .guide h3, .depth3-tab-wrap .context .amenity h3 {
  margin-bottom: 40px;
  font-size: 25px;
  padding: 20px 0;
  border-bottom: 1px solid #292929;
}
.depth3-tab-wrap .context .amenity {
  padding: 70px 0 50px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
}
.depth3-tab-wrap .context .amenity h3 {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #292929;
}
.depth3-tab-wrap .context .amenity .list {
  width: 25%;
  margin-bottom: 20px;
  display: flex;
  font-size: 15px;
  line-height: 1.5;
}
.depth3-tab-wrap .context .amenity .list h4 {
  width: 100px;
  color: #7A6C64;
}
.depth3-tab-wrap .context .amenity .list .txt-wrap {
  width: calc(100% - 100px);
}
.depth3-tab-wrap .context .amenity .list .txt-wrap .txt {
  margin-top: 15px;
}
.depth3-tab-wrap .context .amenity .list .txt-wrap .txt:first-child {
  margin: 0;
}
.depth3-tab-wrap .context .amenity .list .txt-wrap .txt > li {
  margin-left: 10px;
  position: relative;
}
.depth3-tab-wrap .context .amenity .list .txt-wrap .txt > li::before {
  content: "-";
  display: block;
  position: absolute;
  top: 11.25px;
  left: -10px;
  transform: translateY(-11.25px);
}
.depth3-tab-wrap .context .guide .list h4 {
  width: 200px;
  color: #7A6C64;
}

.room-floor {
  display: flex;
  justify-content: space-around;
}
.room-floor h3 {
  text-align: center;
  margin-bottom: 20px;
}

.lounge .context .Introduction .btn-wrap {
  margin: 0;
}
.lounge .context .guide .desc-wrap {
  padding-top: 30px;
}
.lounge .context .guide .desc-wrap .desc {
  position: relative;
  margin: 0 0 10px 0;
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
.lounge .context .guide .desc-wrap .desc::before {
  content: "*";
  display: block;
  position: absolute;
  top: 3px;
  left: 2px;
}

.lounge-floor {
  justify-content: space-around;
}
.lounge-floor h3 {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
  .center {
    width: 90%;
  }
  .depth3-tab-wrap .context .amenity .list {
    width: 50%;
  }
  .depth3-tab-wrap .context .amenity .list h4 {
    width: 200px;
  }
  .depth3-tab-wrap .context .amenity .list .txt-wrap {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 1240px) {
  .center {
    width: 95%;
  }
  .depth3-tab-wrap .context .amenity .list h4 {
    width: 120px;
  }
  .depth3-tab-wrap .context .amenity .list .txt-wrap {
    width: calc(100% - 120px);
  }
  .depth3-tab-wrap .context .guide .list .txt-wrap {
    font-size: 15px;
  }
  .room-floor {
    display: flex;
    justify-content: space-around;
  }
  .room-floor h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .lounge .context .Introduction .btn-wrap {
    margin: 0;
  }
  .lounge .context .guide .desc-wrap {
    padding-top: 30px;
  }
  .lounge .context .guide .desc-wrap .desc {
    position: relative;
    margin: 0 0 10px 0;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  .lounge .context .guide .desc-wrap .desc::before {
    content: "*";
    display: block;
    position: absolute;
    top: 3px;
    left: 2px;
  }
  .lounge-floor {
    justify-content: space-around;
  }
  .lounge-floor h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .center {
    width: 95%;
  }
  .depth3-tab-wrap .context .Introduction .room-title {
    font-size: 35px;
  }
  .depth3-tab-wrap .context .Introduction .room-top-txt {
    font-size: 20px;
  }
  .depth3-tab-wrap .context .Introduction .btn-wrap {
    width: 100%;
  }
  .depth3-tab-wrap .context .amenity {
    padding: 70px 0 50px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
  }
  .depth3-tab-wrap .context .amenity h3 {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #292929;
  }
  .depth3-tab-wrap .context .amenity .list {
    width: 100%;
  }
  .depth3-tab-wrap .context .guide .list h4 {
    width: 120px;
    color: #7A6C64;
  }
  .depth3-tab-wrap .context .guide .list .txt-wrap {
    width: calc(100% - 120px);
    font-size: 15px;
  }
  .room-floor {
    display: flex;
    justify-content: space-around;
  }
  .room-floor h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .lounge .context .Introduction .btn-wrap {
    margin: 0;
  }
  .lounge .context .guide .desc-wrap {
    padding-top: 30px;
  }
  .lounge .context .guide .desc-wrap .desc {
    position: relative;
    margin: 0 0 10px 0;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  .lounge .context .guide .desc-wrap .desc::before {
    content: "*";
    display: block;
    position: absolute;
    top: 3px;
    left: 2px;
  }
  .lounge-floor {
    justify-content: space-around;
  }
  .lounge-floor h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}