.room-intro {
  font-size: 18px;
  margin-bottom: 50px;
}
.room-intro .room-intro-txt {
  margin-bottom: 30px;
  font-size: 22px;
  color: #7A6C64;
}
.room-intro .room-txt {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.room-wrap h3 {
  font-size: 40px;
  color: #333;
  margin: 30px 0px;
}

.room-top-intro {
  padding-top: 10px;
  padding-bottom: 30px;
}

.room-box-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.room-box-wrap .room-box {
  margin-right: 40px;
  width: calc((100% - 40px) / 2);
}
.room-box-wrap .room-box a {
  display: block;
  width: 100%;
}
.room-box-wrap .room-box a .img-wrap {
  width: 100%;
}
.room-box-wrap .room-box a .img-wrap img {
  border-radius: 10px;
  width: 100%;
}
.room-box-wrap .room-box a .txt-wrap {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  line-height: 1.5;
}
.room-box-wrap .room-box a .txt-wrap h4 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #7A6C64;
}
.room-box-wrap .room-box a .txt-wrap .room-top-txt {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
}
.room-box-wrap .room-box:nth-child(2n) {
  margin-right: 0;
}

@media screen and (max-width: 1500px) {
  .center {
    width: 90%;
  }
}
@media screen and (max-width: 1240px) {
  .center {
    width: 95%;
  }
  .room-intro {
    font-size: 16px;
  }
  .room-intro .room-intro-txt {
    font-size: 20px;
  }
  .room-intro .room-txt {
    font-size: 18px;
  }
  .room-wrap h3 {
    font-size: 25px;
  }
  .room-box-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .room-box-wrap .room-box {
    margin-right: 20px;
    width: calc((100% - 20px) / 2);
  }
  .room-box-wrap .room-box a .txt-wrap h4 {
    font-size: 20px;
  }
  .room-box-wrap .room-box a .txt-wrap .room-top-txt {
    font-size: 14px;
  }
  .room-box-wrap .room-box a .txt-wrap p {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .center {
    width: 95%;
  }
  .room-intro {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .room-intro .room-intro-txt {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .room-intro .room-txt {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .room-wrap h3 {
    font-size: 40px;
    margin: 30px 0px;
  }
  .room-top-intro {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .room-box-wrap {
    display: block;
    margin-bottom: 50px;
  }
  .room-box-wrap .room-box {
    margin-right: 40px;
    width: 100%;
  }
  .room-box-wrap .room-box a {
    display: block;
    width: 100%;
  }
  .room-box-wrap .room-box a .img-wrap {
    width: 100%;
  }
  .room-box-wrap .room-box a .img-wrap img {
    width: 100%;
  }
  .room-box-wrap .room-box a .txt-wrap {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 20px;
  }
  .room-box-wrap .room-box a .txt-wrap h4 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .room-box-wrap .room-box a .txt-wrap .room-top-txt {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .room-box-wrap .room-box:nth-child(2n) {
    margin-right: 0;
  }
}