.event-header {
  width: 100%;
}
.event-header img {
  width: 100%;
}

.event-section {
  width: 100%;
  padding-bottom: 40px;
  margin: 100px 0 100px 0;
  border-bottom: 1px solid #ddd;
}
.event-section h2 {
  font-size: 32px;
  padding-bottom: 10px;
}
.event-section p {
  font-size: 18px;
  line-height: 1.2;
}
.event-section .main-des {
  margin: 40px 0 40px 0;
}
.event-section .main-des li {
  line-height: 2;
}
.event-section .main-des li:nth-of-type(5) {
  padding-top: 40px;
}

.event-pmt {
  height: 100%;
  background-color: #faf8f4;
  padding: 25px 0 25px 25px;
  line-height: 2;
  margin-bottom: 50px;
}
.event-pmt :first-of-type {
  font-weight: 700;
}

.event-li ul {
  display: flex;
  margin-bottom: 100px;
}
.event-li ul li {
  width: 100%;
  margin-right: 300px;
  line-height: 1.5;
}
.event-li ul li img {
  width: 500px;
  height: 300px;
  margin-bottom: 20px;
}
.event-li ul li h3 {
  margin-bottom: 20px;
}

.a-wrap {
  margin-bottom: 25px;
  text-align: right;
}

.aList {
  width: 180px;
  height: 40px;
  background: #7a6c64;
  color: #fff;
  text-align: center;
  line-height: 3;
}

.other-event {
  border-top: 2px solid #7a6c64;
  padding: 100px 0 140px 0;
  margin-top: 100px;
  width: 100%;
}
.other-event .other-title {
  width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.other-event .other-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.other-event .other-list .other-item {
  width: 30%;
  overflow: hidden;
}
.other-event .other-list .other-item a {
  display: block;
  width: 100%;
}
.other-event .other-list .other-item a .img-box {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.other-event .other-list .other-item a .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.other-event .other-list .other-item a dl {
  width: 100%;
}
.other-event .other-list .other-item a dl dt {
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  margin: 20px 0 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.other-event .other-list .other-item a dl .other-date {
  color: #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.other-event .other-list .other-item a dl .other-pay {
  padding-top: 20px;
  font-weight: 600;
  font-size: 24px;
}