.pkg-header {
  width: 100%;
  height: 468px;
}
.pkg-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pkg-title {
  margin-top: 80px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  padding-bottom: 24px;
  border-bottom: 1px solid #292929;
}

.pkg-detail {
  width: 100%;
  margin-bottom: 40px;
}

.detail-list {
  width: 100%;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}
.detail-list .list-section {
  width: 100%;
  padding: 24px;
  display: flex;
}
.detail-list .list-section span {
  font-size: 16px;
  width: 360px;
}
.detail-list .list-section .list-item {
  width: 100%;
  margin-left: 100px;
  line-height: 2;
  position: relative;
}
.detail-list .list-section .list-item .offer-room {
  position: absolute;
  width: 180px;
  background: #1f453a;
  color: #fff;
  top: 1px;
  right: 0px;
  text-align: center;
  line-height: 3;
}

.li {
  border-bottom: 1px solid #333;
}

.d-day-wrap {
  bottom: 0;
  width: 100%;
  background-color: #7a6c64;
  border-radius: 15px;
  color: #fff;
  position: sticky;
  z-index: 500;
}
.d-day-wrap .d-day {
  width: 100%;
  height: 50%;
  padding-left: 50px;
  line-height: 6;
  position: relative;
}
.d-day-wrap .d-day .d-day-reservation {
  position: absolute;
  width: 300px;
  height: 60%;
  top: 20%;
  border-radius: 15px;
  background-color: #fff;
  right: 3%;
  color: #000;
  text-align: center;
  line-height: 3.5;
}

.section-title {
  margin-top: 130px;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 600;
}

.pkg-description-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.pkg-description-wrap .description1 {
  width: calc(40% - 10px);
  background-color: #faf8f4;
}
.pkg-description-wrap .description1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pkg-description-wrap .description1 div {
  padding: 20px;
}
.pkg-description-wrap .description1 div:first-of-type {
  font-weight: 600;
  font-size: 20px;
}
.pkg-description-wrap .description1 div:last-of-type {
  line-height: 1.5;
}
.pkg-description-wrap .description1.other-type {
  width: calc(50% - 20px);
  overflow: hidden;
}
.pkg-description-wrap .description1.other-type-full {
  width: 50%;
  overflow: hidden;
}
.pkg-description-wrap .description {
  width: calc(20% - 10px);
  border-top: 1px solid #333;
}
.pkg-description-wrap .description .description-text {
  width: 270px;
  height: 100px;
  background-color: #fff;
  padding: 10px 0 10px 0;
  text-align: center;
  font-weight: 700;
  line-height: 4.5;
}
.pkg-description-wrap .description > a {
  width: 100%;
  height: 100%;
}
.pkg-description-wrap .description img {
  width: 100%;
  height: 486px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pkg-fitness {
  line-height: 2;
}

.pkg-info {
  line-height: 2;
  margin-top: 50px;
  padding: 20px 0 20px 20px;
  background-color: #f6f6f6;
}
.pkg-info .info-txt p {
  margin-top: 20px;
}

.other-event {
  border-top: 2px solid #7a6c64;
  padding: 100px 0 140px 0;
  margin-top: 100px;
  width: 100%;
}
.other-event .other-title {
  width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.other-event .other-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.other-event .other-list .other-item {
  width: 30%;
  overflow: hidden;
}
.other-event .other-list .other-item a {
  display: block;
  width: 100%;
}
.other-event .other-list .other-item a .img-box {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.other-event .other-list .other-item a .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.other-event .other-list .other-item a dl {
  width: 100%;
}
.other-event .other-list .other-item a dl dt {
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  margin: 20px 0 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.other-event .other-list .other-item a dl .other-date {
  color: #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.other-event .other-list .other-item a dl .other-pay {
  padding-top: 20px;
  font-weight: 600;
  font-size: 24px;
}

.lypop-title {
  background-color: #7a6c64;
}

.lypop-ct img {
  width: 100%;
}
.lypop-ct div {
  padding-top: 20px;
}