.center {
    width: 800px;
    margin-top: 50px;
}
.rec-swiper {
    width: 100%;
    text-align: center;
    background-color: #af0;
}
.swiper-wrapper {
    width: 190%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff0;
}
/* .swiper-slide > img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.swiper-button-prev {
    position: absolute;
    width: 50px;
    background: #f00;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
} */

.swiper-slide {
    width: 100%;
    /* position: relative; */
    /* text-align: center; */
    background-color: #faf;
}

.swiper-slide img {
    width: 100%; /* 이미지를 슬라이드 너비에 맞춤 */
}
