@charset "UTF-8";

@import url(./reset.css); 
@import "_response.scss","_color.scss","_mixin.scss";


.mt-10 {margin-top: 10px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.mb-50 {margin-bottom: 50px;}

.pt-10 {padding-top: 10px;}
.pt-20 {padding-top: 20px;}
.pt-30 {padding-top: 30px;}
.pt-40 {padding-top: 40px;}
.pt-50 {padding-top: 50px;}
.pb-10 {padding-bottom: 10px;}
.pb-20 {padding-bottom: 20px;}
.pb-30 {padding-bottom: 30px;}
.pb-40 {padding-bottom: 40px;}
.pb-50 {padding-bottom: 50px;}

.fc-bk {color: #000;}
.fc-red {color: #f00;}
.fc-blue {color: #00f;}


.blind, .hide{
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.center {
    margin: 0 auto; 
    width: 1420px;
    &.guide {
        padding: 50px 0;
    }
}

/* 스크롤바의 폭 너비 */
body::-webkit-scrollbar {
    width: 10px;  
}
body::-webkit-scrollbar-thumb {
    background: #bababa; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

body::-webkit-scrollbar-track {
    background: #eaeaea;  /*스크롤바 뒷 배경 색상*/
}


/* 3depth title 공통 */
.container {
    margin-top: 80px;
}
.sub-title {
    display: flex; 
    align-items: end; 
    justify-content: space-between;
    margin-bottom: 30px; 
    padding: 50px 10px 20px;
    position: relative;

    &::after { 
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #ddd;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

h2 {
    font-size: 22px; 
    font-weight: 700;
}

.location {
    display: flex; 
    align-items: center;

    & > li {
        margin-right: 30px; 
        position: relative;

        &:last-child {
            margin: 0;

            &::after {
                display: none;
            }

            & > a {
                text-decoration: underline;
                text-underline-position: under;
            }
        }

        &::after {
            content: ""; 
            display: inline-block; 
            width: 5px; 
            height: 5px; 
            border: 1px solid #777; 
            border-left: 0;
            border-bottom: 0; 
            transform: rotate(45deg); 
            position: absolute; 
            top: 5px;
            right: -15px;
        }

        & > a {
            font-size: 13px;
 
            &:hover {
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }

}

/* 3depth tab 공통 */
.depth3-tab-wrap {
    /* tab */
    .tab {
        display: flex; 
        align-items: center;
        margin-bottom: 30px;

        &.on {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 1420px;
        }

        & > li {
            width: calc(100%/7); 
            text-align: center;
            line-height: 40px;
            border: 1px solid #ddd;
            border-right: 0;
            background: #fff; 
            cursor: pointer;

            &:last-child {
                border-right: 1px solid #ddd;
            }

            &.on {
                border-bottom: 1px solid transparent;
                font-weight: 700;
            }

            &:hover {
                font-weight: 700;
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }

    /* tab-contents */
    .tab-contents {
        & > .tab-cont {
            display: none;

            &.on {
                display: block;
            }
        }
    }
}


// 3depth 스와이퍼 슬라이드 갤러리
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 500px;
    width: 100%;
}

.mySwiper {
    height: 200px;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


// 버튼 스타일
.btn-wrap {
    margin: 20px 0;
    display: flex;

    &.type1 {
        width: 100%;
        gap: 20px;
    }
    &.type2 {
        width: 200px;
        justify-content: space-between;
    }
    &.type3 {
        width: 100%;
        justify-content: center;
        .align {
            width: 200px;
            display: flex;
            justify-content: space-between;
        }
    }
    &.type4 {
        width: 100%;
        justify-content: end;
        .align {
            width: 200px;
            display: flex;
            justify-content: space-between;
        }
    }
    &.type5 {
        width: 100%;
        justify-content: center;
        .align {
            width: 300px;
            display: flex;
            justify-content: space-between;
        }
        .btn {
            width: calc((100% - 20px)/3);


        }
    }
    .btn {
        width: calc((100% - 10px)/2);
        text-align: center;
        line-height: 40px;
        border-radius: 4px;
        font-weight: 500;
        &.btn-01 {
            background: #7A6C64;
            color: #fff;
        }
        &.btn-02 {
            background: #000;
            color: #fff;
        }
        &.btn-03 {
            background: #ddd;
            color: #333;
        }
        &.btn-04 {
            margin-right: 10px;
            padding: 0 20px;
            width: auto;
            background: #666;
            color: #fff;
        }
        &.btn-05 {
            padding: 0 20px;
            width: auto;
            background: #474291;
            color: #fff;
        }
    }
}

// pagenation 
.pagination{
    margin-top:20px;
    height:25px;
    text-align:center;
    & > a {display:inline-block;
        width:25px;
        height:25px;
        line-height:25px;
        margin:0 2px;
        vertical-align:top;
        &.on, &:hover{
            color:#377fd5;
            font-weight: 700;
        }
    }
    span {
        line-height: 25px;
    }
    .page {
        background-image:url('../../img/common/bg_pageination.png');
        background-repeat:no-repeat;
    }
    .first { background-position:0 0; 
    }
    .pre {
        background-position: 0 -25px;
    }
    .next {
        background-position:0 -50px;
    }
    .end {
        background-position:0 -75px;
    }
}


/* 플로팅 메뉴 */
.floating-menu {
    position: fixed; 
    z-index: 999;
    a {
        width: 50px;
        height: 50px;
        border-radius: 50%; 
        color: #fff;
        line-height: 50px;
        text-align: center;
        
        &:hover {
            border: 1px solid #7A6C64;
            box-shadow: 2px 2px 5px rgba(82,82,82,1);
        }
    }
    
    .menu {
        position: fixed; 
        right: 10px; 
        top: 50%; 
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .circle-btn {
        background-color: #7A6C64;
    }

    .top-btn {
        position: fixed; 
        right: -50px; 
        bottom: 30px; 
        background-color: #333;
        transition: all 0.3s;
        &.on {
            right: 10px; 
        }
    }
}


// 가이드
.desc {
    margin: 30px 0 10px;
    font-size: 20px;
    font-weight: 700;
    color: #00f;
}
.rule {
    li {
        padding-left: 10px;
        position: relative;
        line-height: 1.5;
        &::after {
            content: "-";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;

        }
    }
}


/* 레이어 팝업 */
.lypop{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    background-color:rgba(0, 0, 0, 0.5);
    -webkit-transition:all .3s ease;
    transition:all .3s ease;
    z-index:1000 ;
    .btn-wrap {
        margin: 20px 0 0 ;
        .align {
            width: auto;
        }
    }
}

.lypop-wp{
    position:absolute;
    top:50%;
    left:50%;
    width:600px;
    transform:translate(-50%,-50%);
    border-radius: 8px;
    overflow: hidden;
    &.min{
        width:400px;
    }
    &.mid{
        width:800px;
    }
    &.big{
        width:900px;
    }
    &.max{
        width:1200px;
    }
}

.lypop-content{
    background-color:#fff;

}
.lypop-title{
    position:relative;
    height:52px;
    background-color:#474291;
    & > strong{
        display:block;
        font-size:20px;
        color:#fff;
        font-weight:500;
        padding:15px 30px;
    }
}

.lypop-close{
    position:absolute;
    top:5px;
    right:10px;
    width:40px;
    height:40px;
    cursor: pointer;
    &::before{
        content: "";
        position:absolute;
        left:50%;
        top:25%;
        display:inline-block;
        width:2px;
        height:18px;
        transform:rotate(135deg);
        background-color:#fff;
    }
    &::after{
        content: "";
        position:absolute;
        left:50%;
        top:25%;
        display:inline-block;
        width:2px;
        height:18px;
        transform:rotate(45deg);
        background-color:#fff ;
    }
}


.lypop-ct {
    padding:30px;
}


// daterangepicker 팜업
.daterangepicker {
    padding: 70px 200px;
    width: 1420px;

    &.drop-up {
        margin-top: -10px;
    }

    .drp-calendar {
        max-width: none;
        &.left {
            .calendar-table {
                padding-right: 150px;
            }
        }
        .calendar-table {
            th,td {
                font-size: 20px;
                line-height: 3;
            }
            td {
                width: 60px;
                height: auto;
                &.active {
                    border-radius: 50%;
                }
                
            }
        }
    }

    .drp-buttons {
        padding-top: 20px;
        border: none;
        border-top: 1px solid #eaeaea;
        line-height: 1;
        .btn {
            font-size: 18px;
        }
    }
    .drp-selected {
        margin-right: 30px;
        padding: 4px 0;
        font-size: 20px;
        color: #000;
        vertical-align: middle;
    }

}


// 반응형
@media screen and (max-width:1500px){

    .mt-10 {margin-top: vw-pc(10);}
    .mt-20 {margin-top: vw-pc(20);}
    .mt-30 {margin-top: vw-pc(30);}
    .mt-40 {margin-top: vw-pc(40);}
    .mt-50 {margin-top: vw-pc(50);}
    .mb-10 {margin-bottom: vw-pc(10);}
    .mb-20 {margin-bottom: vw-pc(20);}
    .mb-30 {margin-bottom: vw-pc(30);}
    .mb-40 {margin-bottom: vw-pc(40);}
    .mb-50 {margin-bottom: vw-pc(50);}
    
    .pt-10 {padding-top: vw-pc(10);}
    .pt-20 {padding-top: vw-pc(20);}
    .pt-30 {padding-top: vw-pc(30);}
    .pt-40 {padding-top: vw-pc(40);}
    .pt-50 {padding-top: vw-pc(50);}
    .pb-10 {padding-bottom: vw-pc(10);}
    .pb-20 {padding-bottom: vw-pc(20);}
    .pb-30 {padding-bottom: vw-pc(30);}
    .pb-40 {padding-bottom: vw-pc(40);}
    .pb-50 {padding-bottom: vw-pc(50);}

    .center {
        width: 90%;
        &.guide {
            padding: vw-pc(50 0);
        }
    }
    
    
    /* 3depth title 공통 */
    .container {
        margin-top: vw-pc(80);
    }
    .sub-title {
        margin-bottom: vw-pc(30); 
        padding: vw-pc(50 10 20);
    }
    
    h2 {
        font-size: vw-pc(22); 
    }
    
    .location {
        & > li {
            margin-right: vw-pc(30); 
    
            &::after {
                width: vw-pc(5); 
                height: vw-pc(5); 
                top: vw-pc(5);
                right: vw-pc(-15);
            }
    
            & > a {
                font-size: vw-pc(13);
            }
        }
    
    }
    
    /* 3depth tab 공통 */
    .depth3-tab-wrap {
        /* tab */
        .tab {
            margin-bottom: vw-pc(30);
    
            &.on {
                width: vw-pc(1420);
            }
    
            & > li {
                line-height: vw-pc(40);
            }
        }

    }
    
    
    // 3depth 스와이퍼 슬라이드 갤러리
    .swiper-slide {
        font-size: vw-pc(18);
    }  

    .swiper {
        height: vw-pc(300);
    }
    
    .mySwiper2 {
        height: vw-pc(500);
    }
    
    .mySwiper {
        height: vw-pc(200);
        padding: vw-pc(10 0);
    }
    

    // 버튼 스타일
    .btn-wrap {
        margin: vw-pc(20 0);
    
        &.type1 {
            gap: vw-pc(20);
        }
        &.type2 {
            width: vw-pc(200);
        }
        &.type3 {
            .align {
                width: vw-pc(200);
            }
        }
        &.type4 {
            .align {
                width: vw-pc(200);
            }
        }
        &.type5 {
            .align {
                width: vw-pc(300);
            }
            .btn {
                width: calc((100% - vw-pc(20))/3);
            }
        }
        .btn {
            width: calc((100% - vw-pc(10))/2);
            line-height: vw-pc(40);
            border-radius: vw-pc(4);

            &.btn-04 {
                margin-right: vw-pc(10);
                padding: vw-pc(0 20);
            }
            &.btn-05 {
                padding: vw-pc(0 20);
            }
        }
    }
    
    // pagenation 
    .pagination{
        margin-top:vw-pc(20);
        height:vw-pc(25);
        & > a {
            width:vw-pc(25);
            height:vw-pc(25);
            line-height:vw-pc(25);
            margin:vw-pc(0 2);
        }
        span {
            line-height: vw-pc(25);
        }
        .pre {
            background-position: 0 vw-pc(-25);
        }
        .next {
            background-position:0 vw-pc(-50);
        }
        .end {
            background-position:0 vw-pc(-75);
        }
    }
    
    
    /* 플로팅 메뉴 */
    // .floating-menu {
    //     a {
    //         width: vw-pc(50);
    //         height: vw-pc(50);
    //         line-height: vw-pc(50);
            
    //         &:hover {
    //             box-shadow: vw-pc(2 2 5) rgba(82,82,82,1);
    //         }
    //     }
        
    //     .menu {
    //         right: vw-pc(10); 
    //         gap: vw-pc(10);
    //     }
    
    //     .top-btn {
    //         right: vw-pc(-50); 
    //         bottom: vw-pc(30); 
    //         &.on {
    //             right: vw-pc(10); 
    //         }
    //     }
    // }
    
    
    // 가이드
    .desc {
        margin: vw-pc(30 0 10);
        font-size: vw-pc(20);
    }
    .rule {
        li {
            padding-left: vw-pc(10);
            &::after {
                width: vw-pc(10);
                height: vw-pc(10);
    
            }
        }
    }
    
    
    /* 레이어 팝업 */
    .lypop{
        .btn-wrap {
            margin: vw-pc(20 0 0);
        }
    }
    
    .lypop-wp{
        width:vw-pc(600);
        border-radius: 8;
        &.min{
            width:vw-pc(400);
        }
        &.mid{
            width:vw-pc(800);
        }
        &.big{
            width:vw-pc(900);
        }
        &.max{
            width:vw-pc(1200);
        }
    }

    .lypop-title{
        height:vw-pc(52);
        & > strong{
            font-size:vw-pc(20);
            padding:vw-pc(15 30);
        }
    }
    
    .lypop-close{
        top:vw-pc(5);
        right:vw-pc(10);
        width:vw-pc(40);
        height:vw-pc(40);
        &::before{
            width:vw-pc(2);
            height:vw-pc(18);
        }
        &::after{
            width:vw-pc(2);
            height:vw-pc(18);
        }
    }
    
    .lypop-ct {
        padding:vw-pc(30);
    }
    
    // daterangepicker 팜업
    .daterangepicker {
        padding: vw-pc(70 160);
        width: 90%;
    
        &.drop-up {
            margin-top: vw-pc(-10);
        }
    
        .drp-calendar {
            &.left {
                .calendar-table {
                    padding-right: vw-pc(130);
                }
            }
            .calendar-table {
                th,td {
                    font-size: vw-pc(20);
                }
                td {
                    width: vw-pc(60);
                }
            }
        }
    
        .drp-buttons {
            padding-top: vw-pc(20);
            .btn {
                font-size: vw-pc(18);
            }
        }
        .drp-selected {
            margin-right: vw-pc(30);
            padding: vw-pc(4 0);
            font-size: vw-pc(20);
        }
    
    }


}


@media screen and (max-width:1240px){
    .center {
        width: 95%;
    }

}

