main {
    padding-bottom: 150PX;
    .title_box {
        text-align: center;
        .cont-tit {
            padding: 70px 0 10px;
            font-size: 30px;
            letter-spacing: 2PX;
        }
        .en-tit {
            position: relative;
            padding: 10px 0 50px;
            font-size: 17px;
            letter-spacing: 3PX;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                background: #7A6C64;
            }
        }
    }
    // cont1. 메인 비주얼
    .cont1 {
        margin-top: 80px;
        .swiper {
            width: 100%;
            height: calc(100vh - 80px);
        }
      
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            &.slide1 {
                background: url(../img/main/main-slide-1.jpg)no-repeat center / cover;
            }
            &.slide2 {
                background: url(../img/main/main-slide-2.jpg)no-repeat center / cover;
            }
            &.slide3 {
                background: url(../img/main/main-slide-3.jpg)no-repeat center / cover;
            }
        }
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: var(--swiper-pagination-bottom, 20px);
        }
        .swiper-pagination-bullet {
            margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
            width: 35px;
            height: 15px;
            border: 3px solid #fff;
            border-radius: 16px;
            background: transparent;
            opacity: 1;
            &-active {
                background: #fff;
            }
        }
        .swiper-button-next, .swiper-button-prev {
            color: #fff;
        }
        .swiper-button-next {
            right: var(--swiper-navigation-sides-offset, 60px);
        }
        .swiper-button-prev {
            left: var(--swiper-navigation-sides-offset, 50px);
        }
    }

    // cont2. 메인 예약 폼
    .cont2 {
        height: 250px;
        background: #F6F6F6;
    }

    // cont3. 메인 스페셜 오퍼
    .cont3 {
        // height: 100vh;
        .title_box {
            .en-tit {
                &:after {
                    width: 220px;
                }
            }
        }
    }

    // cont4. 객실
    .cont4 {
        padding-bottom: 180px;
        
        .title_box {
            // text-align: left;
            .en-tit {
                &:after {
                    // left: 0;
                    // transform: translateX(0);
                    width: 100px;
                }
            }
        }
        .back {
            position: relative;
            min-height: 200px;
            width: 0;
            transition: all 0.5s;

            &:hover {
                width: 100%;
                color: #fff;
                h3 {
                    color: #f5ead5;
                }
                &:nth-child(2) {
                    background: url(../img/main/bg-standard.jpg)no-repeat bottom 0 left 0 / calc(100vw - 17px);
                }
                &:nth-child(3) {
                    background: url(../img/main/bg-executive.jpg)no-repeat bottom 0 left 0 / calc(100vw - 17px);
                }
                &:nth-child(4) {
                    background: url(../img/main/bg-suite.jpg)no-repeat bottom 0 left 0 / calc(100vw - 17px);
                }
                &:nth-child(5) {
                    background: url(../img/main/bg-lounge.jpg)no-repeat bottom 0 left 0 / calc(100vw - 17px);
                }
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 200px;
                    background: rgba(0,0,0,0.5);
                }
            }
            &:nth-child(5) {
                .center {
                    padding: 81px 0;
                    h3 > a {
                        margin: 0;
                    }
                }
            }
            .center-wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100vw - 17px);
            }

            .center {
                // position: absolute;
                // top: 0;
                // left: 50%;
                // transform: translateX(-50%);
                padding: 57px 0;
                min-height: 200px;
                border-bottom: 1px solid #ddd;

                h3 {
                    & > a {
                        margin-bottom: 30px;
                        font-size: 35px;
                        letter-spacing: 1.3px;
                        & > span {
                            font-size: 28px;
                        }
                    }
                }
                .type {
                    display: flex;
                    align-items: center;
                    & > li {
                        padding: 0 20px;
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child > a::after {
                            display: none;
                        }
                        & > a {
                            position: relative;
                            font-size: 20px;
                            font-weight: 500;
                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                right: -20px;
                                width: 1px;
                                height: 20px;
                                background: #aaa;
                            }
                            &::before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    bottom: -10px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 0;
                                    height: 1px;
                                    background: #fff;
                                    transition: all 0.2s;
                            }
                            &:hover {
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // cont5. 멤버십 안내
    .cont5 {
        padding: 20px 0 120px;
        background: #F6F6F6;
        text-align: center;
        .title_box {
            .en-tit {
                &:after {
                    width: 180px;
                }
            }
        }

        .benefit {
            display: flex;
            justify-content: space-between;
            .list {
                position: relative;
                width: calc((100% - 300px) / 3);
                text-align: left;
                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: -50px;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 100%;
                    background: #cacaca;
                }
                &:last-child::after {
                    display: none;
                }
                &:nth-child(1) > a:hover > h3::after {
                    width: 95px;
                }
                &:nth-child(2) > a:hover > h3::after {
                    width: 110px;
                }
                &:nth-child(3) > a:hover > h3::after {
                    width: 80px;
                }
                & > a {
                    display: block;
                    padding-left: 90px;
                    width: 100%;
                    height: 100%;


                    > i {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 60px;
                    }
                    > h3 {
                        margin-bottom: 10px;
                        position: relative;
                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            width: 0;
                            height: 1px;
                            background: #000;
                            transition: all 0.2s;
                        }
                    }
                    > p {
                        line-height: 1.4;
                    }
                }
            }
        }


    }

    // cont6. 갤러리
    .cont6 {
        padding: 70px 0;
        text-align: center;
        .title_box {
            .en-tit {
                &:after {
                    width: 130px;
                }
            }
        }
        iframe {
            border-radius: 16px;
        }
    }


}

// 호텔찾기 팝업
.hotel-box-wrap {
    .country {
        display: flex;
        & > h4 {
            padding-top: 15px;
            width: 100px;
            font-size: 17px;
        }
        &.foreign {
            border-top: 1px solid #eaeaea;
            & > h4 {
                padding-top: 35px;
            }
            .area { 
                padding: 20px 0;
            }
        }
    }
    .area-wrap {
        width: calc(100% - 100px);
    }
    .area {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #eaeaea;
        &:first-child{
            padding-top: 0;
        }
        &:last-child {
            border-bottom: 0;
        }
        & > h5 {
            padding-top: 15px;
            width: 100px;
            font-size: 15px;
        }
        .hotel-link-wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: calc(100% - 100px);
            & > a {
                display: inline-block;
                margin: 0 10px 10px 0;
                width: calc((100% - 20px) / 3);
                line-height: 40px;
                border: 1px solid #ddd;
                text-align: center;
                transition: all 0.2s;

                &:nth-child(3n) {
                    margin-right: 0;
                }
                &:hover {
                    border-color: #666;
                }
            }
        }
    }
}

