@charset "UTF-8";

@import url(./reset.css); 
@import "_response.scss";
@import "_color.scss";
@import "_mixin.scss";

.main-header {
    header {
        transition: all 0.2s; 
        color: #fff;
        background: transparent !important;
        box-shadow: none;
        &.on {
            background: #FAF8F4 !important; 
            color: #666;
            font-weight: 500;
            box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
            .gnb > li::after {
                background: #aaa;
            }
            .m_btn .menu .line {
                background: #555; 
            }
        }
    }
    // 반응형 GNB
    // 햄버거 버튼
    .m_btn {
        .menu {
            .line {
                background: #fff; 
            }
        }
    }
}

main {
    padding-bottom: 150PX;

    .title_box {
        text-align: center;
        .cont-tit {
            padding: 70px 0 10px;
            font-size: 30px;
            letter-spacing: 2PX;
        }
        .en-tit {
            position: relative;
            padding: 10px 0 50px;
            font-size: 17px;
            letter-spacing: 3PX;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                background: #7A6C64;
            }
        }
    }
    // cont1. 메인 비주얼
    .cont1 {
        .swiper {
            width: 100%;
            height: 100vh;
            min-height: 900px;
        }
      
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: relative;
            color: #fff;
            &.slide1 {
                background: url(../img/main/main-slide-1.jpg)no-repeat center / cover;
            }
            &.slide2 {
                background: url(../img/main/main-slide-2.jpg)no-repeat center / cover;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.2);
            }
            .center {
                position: relative;
                height: 100%;
            }

            .txt-box {
                position: absolute;
                left: 0;
                bottom: 15%;
                text-align: left;
                z-index: 2;
                & > span {
                    padding: 2px 5px;
                    background: #FAF8F4;
                    color: #7A6C64;
                    font-weight: 500;
                    border-radius: 4px;
                }
                & > h2 {
                    margin: 15px 0 25px;
                    font-size: 40px;
                    letter-spacing: 2px;
                    & > span {
                        font-size: 50px;
                    }
                }
                & > p {
                    font-size: 20px;
                }
            }

            .pkg-link {
                position: absolute;
                bottom: 15%;
                right: 0;
                display: inline-block;
                padding: 20px 30px;
                border: 5px solid #fff;
                border-radius: 4px;
                font-size: 20px;
                font-weight: 500;
                transition: all 0.3s;
                z-index: 2;
                &:hover {
                    border-color: #7A6C64;
                    background: #fff;
                    color:#7A6C64;
                    font-weight: 700;
                }
            }
        }
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: var(--swiper-pagination-bottom, 20px);
        }
        .swiper-pagination-bullet {
            margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
            width: 35px;
            height: 15px;
            border: 3px solid #fff;
            border-radius: 16px;
            background: transparent;
            opacity: 1;
            &-active {
                background: #fff;
            }
        }
        .swiper-button-next, .swiper-button-prev {
            color: #fff;
        }
        .swiper-button-next {
            right: var(--swiper-navigation-sides-offset, 60px);
        }
        .swiper-button-prev {
            left: var(--swiper-navigation-sides-offset, 50px);
        }
    }

    // cont2. 메인 예약 폼
    .cont2 {
        padding: 120px 0;
        .reservation-wrap {
            display: flex;
            align-items: center;
            font-size: 30px;
            .tit {
                display: block;
                margin-bottom: 15px;
                font-size: 15px;

            }

            .date-wrap {
                position: relative;
                padding: 2px 0;
                width: calc((100% - 170px) * 0.45);
                height: 77px;
                border: 1px dashed transparent;
                .tit {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .date {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding-top: 40px;
                    width: 100%;
                    font-size: 30px;
                    letter-spacing: 1px;
                    color: #000;
                    background: transparent;
                }
                &:hover {
                    border-color: #7A6C64;
                }
            }

            .room-wrap {
                display: flex;
                align-items: center;
                padding: 8.5px 0;
                width: calc((100% - 170px) * 0.55);
                border: 1px dashed transparent;
                cursor: pointer;
                .box {
                    width: calc(100% / 3);
                    border-left: 1px solid #ddd;
                    text-align: center;
                }
                &:hover {
                    border-color: #7A6C64;
                }
            }

            .search {
                display: block;
                width: 200px;
                border: 2px solid #7A6C64;
                text-align: center;
                font-size: 25px;
                font-weight: 500;
                line-height: 73px;
            }
        }
    }

    // cont3. 메인 스페셜 오퍼
    .cont3 {
        padding: 50px 0 150px;
        background: #f6f6f6;
        .title_box {
            .en-tit {
                &:after {
                    width: 220px;
                }
            }
        }
        .special-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            & > li {
                width: calc((100% - 100px) / 3);
                & > a {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    box-shadow: 5px 5px 10px rgba(0,0,0,0);
                    overflow: hidden;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(255,255,255,0.5);
                        opacity: 0;
                        transition: all 0.5s;
                    }
                    &:hover::after {
                        opacity: 1;
                    }
                    &:hover {
                        box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
                        .img-wrap {
                            & > img {
                                transform: scale(1.1);
                            }
                        }
                        .view-more {
                            opacity: 1;
                        }
                    }
                    .img-wrap {
                        width: 100%;
                        height: 250px;
                        overflow: hidden;
                        & > img {
                            width: 100%;
                            height: 100%;
                            transition: all 0.5s;
                        }
                    }
                    .txt-wrap {
                        padding: 30px 20px 50px;
                        height: 200px;
                        background: #fff;
                        h3 {
                            margin-bottom: 30px;
                            font-size: 23px;
                            font-weight: 600;
                            letter-spacing: 1.2px;
                            & > span {
                                font-size: 30px;
                            }
                        }
                        .date {
                            margin-bottom: 20px;
                            padding-left: 25px;
                            position: relative;
                            font-size: 17px;
                        }
                        .price {
                            padding-left: 25px;
                            position: relative;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        i {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            font-size: 15px;
                        }
                    }
                    .view-more {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: all 0.4s;
                        & > span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 150px;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                            text-align: center;
                            font-size: 17px;
                            font-weight: 500;
                            line-height: 150px;
                            background: #fff;
                            box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
                            
                        }
                    }
                }
            }
        }
    }

    // cont4. 객실
    .cont4 {
        padding:70px 0 170px;
        
        .title_box {
            .en-tit {
                &:after {
                    width: 100px;
                }
            }
        }
        .back {
            position: relative;
            min-height: 200px;
            width: 0;
            transition: all 0.5s;

            &:hover {
                width: 100%;
                color: #fff;
                h3 {
                    color: #f5ead5;
                }
                &:nth-child(2) {
                    background: url(../img/main/bg-standard.jpg)no-repeat bottom 0 left 0 / calc(100vw - 10px);
                }
                &:nth-child(3) {
                    background: url(../img/main/bg-executive.jpg)no-repeat bottom 0 left 0 / calc(100vw - 10px);
                }
                &:nth-child(4) {
                    background: url(../img/main/bg-suite.jpg)no-repeat bottom 0 left 0 / calc(100vw - 10px);
                }
                &:nth-child(5) {
                    background: url(../img/main/bg-lounge.jpg)no-repeat bottom 0 left 0 / calc(100vw - 10px);
                }
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 200px;
                    background: rgba(0,0,0,0.5);
                }
            }
            &:nth-child(5) {
                .center {
                    padding: 81px 0;
                    h3 > a {
                        margin: 0;
                    }
                }
            }
            .center-wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100vw - 10px);
            }

            .center {
                padding: 57px 0;
                min-height: 200px;
                border-bottom: 1px solid #ddd;

                h3 {
                    & > a {
                        margin-bottom: 30px;
                        font-size: 35px;
                        letter-spacing: 1.3px;
                        & > span {
                            font-size: 28px;
                        }
                    }
                }
                .type {
                    display: flex;
                    align-items: center;
                    & > li {
                        padding: 0 20px;
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child > a::after {
                            display: none;
                        }
                        & > a {
                            position: relative;
                            font-size: 20px;
                            font-weight: 500;
                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                right: -20px;
                                width: 1px;
                                height: 20px;
                                background: #aaa;
                            }
                            &::before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    bottom: -10px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 0;
                                    height: 1px;
                                    background: #fff;
                                    transition: all 0.2s;
                            }
                            &:hover {
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // cont5. 멤버십 안내
    .cont5 {
        padding: 20px 0 120px;
        background: #F6F6F6;
        text-align: center;
        .title_box {
            .en-tit {
                &:after {
                    width: 180px;
                }
            }
        }

        .benefit {
            display: flex;
            justify-content: space-between;
            .list {
                position: relative;
                width: calc((100% - 300px) / 3);
                text-align: left;
                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: -50px;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 100%;
                    background: #cacaca;
                }
                &:last-child::after {
                    display: none;
                }
                &:nth-child(1) > a:hover > h3::after {
                    width: 95px;
                }
                &:nth-child(2) > a:hover > h3::after {
                    width: 110px;
                }
                &:nth-child(3) > a:hover > h3::after {
                    width: 80px;
                }
                & > a {
                    display: block;
                    padding-left: 90px;
                    width: 100%;
                    height: 100%;


                    > i {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 60px;
                    }
                    > h3 {
                        margin-bottom: 10px;
                        position: relative;
                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            width: 0;
                            height: 1px;
                            background: #000;
                            transition: all 0.2s;
                        }
                    }
                    > p {
                        line-height: 1.4;
                    }
                }
            }
        }


    }

    // cont6. 갤러리
    .cont6 {
        padding: 70px 0;
        text-align: center;
        .title_box {
            .en-tit {
                &:after {
                    width: 130px;
                }
            }
        }
        iframe {
            border-radius: 16px;
        }
    }


}

// 호텔찾기 팝업
.hotel-box-wrap {
    .country {
        display: flex;
        & > h4 {
            padding-top: 15px;
            width: 100px;
            font-size: 17px;
        }
        &.foreign {
            border-top: 1px solid #eaeaea;
            & > h4 {
                padding-top: 35px;
            }
            .area { 
                padding: 20px 0;
            }
        }
    }
    .area-wrap {
        width: calc(100% - 100px);
    }
    .area {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #eaeaea;
        &:first-child{
            padding-top: 0;
        }
        &:last-child {
            border-bottom: 0;
        }
        & > h5 {
            padding-top: 15px;
            width: 100px;
            font-size: 15px;
        }
        .hotel-link-wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: calc(100% - 100px);
            & > a {
                display: inline-block;
                margin: 0 10px 10px 0;
                width: calc((100% - 20px) / 3);
                line-height: 40px;
                border: 1px solid #ddd;
                text-align: center;
                transition: all 0.2s;

                &:nth-child(3n) {
                    margin-right: 0;
                }
                &:hover {
                    border-color: #666;
                }
            }
        }
    }
}



// ----------------------------------------------------------------------------------------------------------
// 반응형
@media screen and (max-width:1500px){

    main {
        padding-bottom: vw-pc(150);
    
        .title_box {
            .cont-tit {
                padding: vw-pc(70 0 10);
                font-size: vw-pc(30);
                letter-spacing: vw-pc(2);
            }
            .en-tit {
                padding: vw-pc(10 0 50);
                font-size: vw-pc(17);
                letter-spacing: vw-pc(3);
            }
        }
        // cont1. 메인 비주얼
        .cont1 {
            .swiper {
                height: 100vh;
                min-height: auto;
            }
            .swiper-slide {
                .txt-box {
                    & > span {
                        padding: vw-pc(2 5);
                        border-radius: vw-pc(4);
                    }
                    & > h2 {
                        margin: vw-pc(15 0 25);
                        font-size: vw-pc(40);
                        letter-spacing: vw-pc(2);
                        & > span {
                            font-size: vw-pc(50);
                        }
                    }
                    & > p {
                        font-size: vw-pc(20);
                    }
                }
                .pkg-link {
                    padding: vw-pc(20 30);
                    border-radius: vw-pc(4);
                    font-size: vw-pc(20);
                }
            }
            .swiper-pagination-bullets.swiper-pagination-horizontal {
                bottom: var(--swiper-pagination-bottom, vw-pc(20));
            }
            .swiper-pagination-bullet {
                margin: 0 var(--swiper-pagination-bullet-horizontal-gap, vw-pc(7));
                width: vw-pc(35);
                height: vw-pc(15);
                border-radius: vw-pc(16);
            }
            .swiper-button-next {
                right: var(--swiper-navigation-sides-offset, vw-pc(60));
            }
            .swiper-button-prev {
                left: var(--swiper-navigation-sides-offset, vw-pc(50));
            }
        }
    
        // cont2. 메인 예약 폼
        .cont2 {
            padding: vw-pc(120 0);
            .reservation-wrap {
                font-size: vw-pc(30);
                .tit {
                    margin-bottom: vw-pc(15);
                    font-size: vw-pc(15);
                }
                .date-wrap {
                    width: calc((100% - vw-pc(170)) * 0.45);
                    height: vw-pc(77);

                    .date {
                        padding-top: vw-pc(40);
                        font-size: vw-pc(30);
                    }
                }
                .room-wrap {
                    padding: vw-pc(8.5 0);
                    width: calc((100% - vw-pc(170)) * 0.55);
                }
                .search {
                    width: vw-pc(200);
                    font-size: vw-pc(25);
                    line-height: vw-pc(73);
                }
            }
        }
    
        // cont3. 메인 스페셜 오퍼
        .cont3 {
            padding: vw-pc(50 0 150);
            .title_box {
                .en-tit {
                    &:after {
                        width: vw-pc(220);
                    }
                }
            }
            .special-list {
                & > li {
                    width: calc((100% - vw-pc(100)) / 3);
                    & > a {
                        border-radius: vw-pc(8);
                        box-shadow: vw-pc(5 5 10) rgba(0,0,0,0);
                        &:hover {
                            box-shadow: vw-pc(5 5 10) rgba(0,0,0,0.1);
                        }
                        .img-wrap {
                            height: vw-pc(250);
                        }
                        .txt-wrap {
                            padding: vw-pc(30 20 50);
                            height: vw-pc(200);
                            h3 {
                                margin-bottom: vw-pc(30);
                                font-size: vw-pc(23);
                                & > span {
                                    font-size:vw-pc(30);
                                }
                            }
                            .date {
                                margin-bottom: vw-pc(20);
                                padding-left: vw-pc(25);
                                font-size: vw-pc(17);
                            }
                            .price {
                                padding-left: vw-pc(25);
                                font-size: vw-pc(18);
                            }
                            i {
                                font-size: vw-pc(15);
                            }
                        }
                        .view-more {
                            & > span {
                                width: vw-pc(150);
                                font-size: vw-pc(17);
                                line-height: vw-pc(150);
                                box-shadow: vw-pc(3 3 10) rgba(0,0,0,0.2);
                                
                            }
                        }
                    }
                }
            }
        }
    
        // cont4. 객실
        .cont4 {
            padding:vw-pc(70 0 170);

            .back {
                min-height: vw-pc(200);
                &:hover {
                    &:nth-child(2) {
                        background: url(../img/main/bg-standard.jpg)no-repeat bottom 0 left 0 / calc(100vw - 10px);
                    }
                    &:nth-child(3) {
                        background: url(../img/main/bg-executive.jpg)no-repeat bottom 0 left 0 / calc(100vw - 10px);
                    }
                    &:nth-child(4) {
                        background: url(../img/main/bg-suite.jpg)no-repeat bottom 0 left 0 / calc(100vw - 10px);
                    }
                    &:nth-child(5) {
                        background: url(../img/main/bg-lounge.jpg)no-repeat bottom 0 left 0 / calc(100vw - 10px);
                    }
                    &::after {
                        height: vw-pc(200);
                    }
                }
                &:nth-child(5) {
                    .center {
                        padding: vw-pc(81 0);
                    }
                }
    
                .center {
                    padding: vw-pc(57 0);
                    min-height: vw-pc(200);
    
                    h3 {
                        & > a {
                            margin-bottom: vw-pc(30);
                            font-size: vw-pc(35);
                            & > span {
                                font-size: vw-pc(28);
                            }
                        }
                    }
                    .type {
                        & > li {
                            padding: vw-pc(0 20);
                            & > a {
                                font-size: vw-pc(20);
                                &::after {
                                    right: vw-pc(-20);
                                    height: vw-pc(20);
                                }
                                &::before {
                                        bottom: vw-pc(-10);
                                }
                            }
                        }
                    }
                }
            }
        }
    
        // cont5. 멤버십 안내
        .cont5 {
            padding: vw-pc(20 0 120);
            .title_box {
                .en-tit {
                    &:after {
                        width: vw-pc(180);
                    }
                }
            }
    
            .benefit {
                .list {
                    width: calc((100% - vw-pc(300)) / 3);
                    &::after {
                        right: vw-pc(-50);
                    }
                    &:nth-child(1) > a:hover > h3::after {
                        width: vw-pc(95);
                    }
                    &:nth-child(2) > a:hover > h3::after {
                        width: vw-pc(110);
                    }
                    &:nth-child(3) > a:hover > h3::after {
                        width: vw-pc(80);
                    }
                    & > a {
                        padding-left: vw-pc(90);
    
    
                        > i {
                            font-size: vw-pc(60);
                        }
                        > h3 {
                            margin-bottom: vw-pc(10);
                            &::after {
                                bottom: vw-pc(-5);
                            }
                        }
                    }
                }
            }
    
    
        }
    
        // cont6. 갤러리
        .cont6 {
            padding: vw-pc(70 0);
            .title_box {
                .en-tit {
                    &:after {
                        width: vw-pc(130);
                    }
                }
            }
            iframe {
                border-radius: vw-pc(16);
                width: vw-pc(1280) !important;
                height: vw-pc(720) !important;
            }
        }
    
    
    }
    
    // 호텔찾기 팝업
    .hotel-box-wrap {
        .country {
            & > h4 {
                padding-top: vw-pc(15);
                width: vw-pc(100);
                font-size: vw-pc(17);
            }
            &.foreign {
                & > h4 {
                    padding-top: vw-pc(35);
                }
                .area { 
                    padding: vw-pc(20 0);
                }
            }
        }
        .area-wrap {
            width: calc(100% - vw-pc(100));
        }
        .area {
            padding: vw-pc(20 0);
            & > h5 {
                padding-top: vw-pc(15);
                width: vw-pc(100);
                font-size: vw-pc(15);
            }
            .hotel-link-wrap {
                width: calc(100% - vw-pc(100));
                & > a {
                    margin: vw-pc(0 10 10 0);
                    width: calc((100% - vw-pc(20)) / 3);
                    line-height: vw-pc(40);
                }
            }
        }
    }

}
