.form-wrap {
    display: relative;
    font-size: 14px;
    padding: 10px;

    .join-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 20px;

        .info-title {
            margin: 150px auto 30px;
            padding: 10px;
        }

        .info-group {
            #pid {
                width: 390px;
                margin-right: 10px;
            }
            .input-container {
                display: flex;
                align-items: center;
                justify-content: center;

                label {
                    width: 150px;
                    font-size: 16px;
                }

                input {
                    width: 500px;
                    padding: 10px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    box-sizing: border-box;
                }

                #id-chk {
                    width: 100px;
                    height: 40px;
                    background-color: #7a6c64;
                    color: #faf8f4;
                    &:hover {
                        background-color: #333;
                    }
                }
            }
            .error-message {
                color: #f00;
                font-size: 12px;
                margin-top: 5px;
                height: 10px;
                line-height: 1;
                display: block;
            }

            select {
                width: 167px;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }

        #firstname {
            width: 240px;
            margin-right: 20px;
        }
        #lastname {
            width: 240px;
        }
        #start,
        #middle,
        #last {
            width: 163px;
        }
        #year,
        #month,
        #day {
            text-align: center;
        }

        #submit {
            width: 500px;
            padding: 10px;
            margin-top: 20px;
            font-size: 16px;
            background-color: #7a6c64;
            color: #fff;
            border: none;
            &:hover {
                background-color: #333;
            }
        }
    }
}
