.map{
    img{
        width: 100%;
    }
}
.payment{
    .depth3-tab-wrap{
        .context{
            .guide, .info{
                h3{
                    margin-bottom: 3%;
                    font-size: 25px;
                }
            }
        }
    }
}