.Introduction{
    .btn-wrap{
        .btn{
            width: 100%;
            line-height: 50px;
        }
    }
}
.info, .guide, .amenity{
    h3{
        margin-bottom: 3%;
        font-size: 25px;
    }
}
.btn-wrap{
    width: 500px;
}


.amenity {
    padding: 70px 0 50px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h3{
        width: 100%;
    }
    .list {
        margin-bottom: 20px;
        display: flex;
        font-size: 16px;
        line-height: 1.5;
        h4 {
            width: 120px;
            color: #7A6C64;
        }
        .txt-wrap {
            .txt {
                margin-top: 15px;
                &:first-child {margin: 0;}
                & > li {
                    margin-left: 10px;
                    position: relative;
                    &::before {
                        content: "-";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: -10px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}