@charset "UTF-8";
@import "_response.scss","_color.scss","_mixin.scss";

.depth3-tab-wrap {

    .gallery {
        margin: 70px 0 100px;
    }

    .context {
        .Introduction {
            padding-bottom: 50px;
            border-bottom: 1px solid #ddd;

            h3 {
                margin-bottom: 30px;
                font-size: 22px;
                color: #7A6C64;
                 strong {
                    margin-left: 10px;
                    font-size: 40px;
                    color: #333;
                 }
            }
            .txt {
                margin-bottom: 20px;
                font-size: 18px;
                line-height: 1.5;

                &.small {
                    font-size: 16px; 
                    line-height: 1.4;
                    color: #000;
                }
            }
        }
        .info, .guide {
            padding: 70px 0 50px;
            border-bottom: 1px solid #ddd;
            .list {
                margin-bottom: 20px;
                display: flex;
                font-size: 16px;
                line-height: 1.5;
                h4 {
                    width: 120px;
                    color: #7A6C64;
                }
                .txt-wrap {
                    .txt {
                        margin-top: 15px;
                        &:first-child {margin: 0;}
                        & > li {
                            margin-left: 10px;
                            position: relative;
                            &::before {
                                content: "-";
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: -10px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }

            }
            .desc-wrap {
                padding-top: 30px;
                .desc {
                    position: relative;
                    margin: 0 0 10px 0;
                    padding-left: 15px;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #333;

                    &::before {
                        content: "*";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: -15px;
                        transform: translateY(-50%);

                    }
                }
            }
        }
    }
}