.map{
    img{
        width: 100%;
    }
}
.depth3-tab-wrap{
    .context{
        .guide{
            h3{
                margin-bottom: 30px;
                font-size: 25px;
            }
        }
        .txt-wrap{
            width: calc(100% - 120px);
        }
    }
}

//반응형
@media screen and (max-width: 1500px) {
    .center {
        width: 90%;
    }
}

@media screen and (max-width: 1240px) {
    .center {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .center {
        width: 95%;
    }
}