// 01_02_01.scss 중복부분
@mixin ellipsis() {
    // 말줄임표
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin fontstyle() {
    // 타이틀제목
    font-size: 24px;
    font-weight: 600;
}

.pkg-header {
    width: 100%;
    height: auto;
    //비율계산
    aspect-ratio: 1/0.32957746;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.pkg-title {
    margin-top: 80px;
    @include fontstyle();
    position: relative;
    padding-bottom: 24px;
    border-bottom: 1px solid #292929;
}
.pkg-detail {
    width: 100%;
    margin-bottom: 40px;
}
.detail-list {
    width: 100%;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
    .list-section {
        width: 100%;
        padding: 24px;
        display: flex;
        span {
            font-size: 16px;
            width: 360px;
        }
        .list-item {
            width: 100%;
            // display: inline-block;
            margin-left: 100px;
            line-height: 2;
            position: relative;
            .offer-room {
                position: absolute;
                width: 180px;
                background: #1f453a;
                color: #fff;
                top: 1px;
                right: 0px;
                text-align: center;
                line-height: 3;
            }
        }
    }
}
.li {
    border-bottom: 1px solid #333;
}
.d-day-wrap {
    bottom: 0;
    width: 100%;
    background-color: #7a6c64;
    border-radius: 15px;
    color: #fff;
    position: sticky;
    z-index: 500;
    .d-day {
        width: 100%;
        height: 50%;
        padding-left: 50px;
        line-height: 6;
        position: relative;
        .d-day-reservation {
            position: absolute;
            width: 300px;
            height: 60%;
            top: 20%;
            border-radius: 15px;
            background-color: #fff;
            right: 3%;
            color: #000;
            text-align: center;
            line-height: 3.5;
        }
    }
}
.section-title {
    margin-top: 130px;
    margin-bottom: 32px;
    @include fontstyle();
}
.pkg-description-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    .description1 {
        width: calc(40% - 10px);
        background-color: #faf8f4;
        img {
            width: 100%;
            display: block;
            object-fit: cover;
        }
        div {
            padding: 20px;
        }
        div:first-of-type {
            font-weight: 600;
            font-size: 20px;
        }
        div:last-of-type {
            line-height: 1.5;
        }
    }
    .description1.other-type {
        width: calc(50% - 20px);
        overflow: hidden;
    }
    .description1.other-type-full {
        width: calc(50%);
        overflow: hidden;
    }
    .description {
        width: calc(20% - 10px);
        display: block;
        border-top: 1px solid #333;
        &:hover {
            background-color: #faf8f4;
            text-decoration: underline;
        }
        .description-text {
            width: 270px;
            height: 100px;
            padding: 10px 0 10px 0;
            text-align: center;
            font-weight: 700;
            line-height: 4.5;
        }
        .img-wrap {
            overflow: hidden;
            a {
                img {
                    transition: transform 1s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        img {
            display: inline-block;
            width: 100%;
            min-height: 484px; // 반응형고민해보기
            object-fit: cover;
        }
    }
}

.pkg-fitness {
    line-height: 2;
}
.pkg-info {
    line-height: 2;
    margin-top: 50px;
    padding: 20px 0 20px 20px;
    background-color: #f6f6f6;
    .info-txt {
        p {
            margin-top: 20px;
        }
    }
}
.other-event {
    border-top: 2px solid #7a6c64;
    padding: 100px 0 140px 0;
    margin-top: 100px;
    width: 100%;
    .other-title {
        width: 100%;
        background-color: #fff;
        text-align: center;
        @include fontstyle();
        margin-bottom: 20px;
    }
    .other-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .other-item {
            width: 30%;
            overflow: hidden;
            a {
                display: block;
                width: 100%;
                .img-box {
                    width: 100%;
                    position: relative;
                    padding-top: 56.25%; // 일정높이 유지 16:9 비율
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                dl {
                    width: 100%;
                    dt {
                        width: 100%;
                        font-weight: 400;
                        font-size: 22px;
                        margin: 20px 0 20px 0;
                        @include ellipsis();
                    }
                    .other-date {
                        color: #ccc;
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 20px;
                    }
                    .other-pay {
                        padding-top: 20px;
                        font-weight: 600;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
.lypop-title {
    background-color: #7a6c64;
}
.lypop-ct {
    img {
        width: 100%;
    }
    div {
        padding-top: 20px;
    }
}
