@charset "UTF-8";
@mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rec-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    // background-color: #ffa;
    justify-content: space-between;
    margin-bottom: 50px;
}

.rec-section {
    width: 450px;
    height: 290px;
    position: relative;
    // background-color: #faf;
    border-radius: 8px;
    overflow: hidden;
    .img-wrap > img {
        width: 450px;
        height: 290px;
        display: block;
    }
}
.rec-section a .img-wrap img {
    transition: transform 1s ease;
}

.rec-section a:hover .img-wrap img {
    transform: scale(1.1);
}

.txt-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    h2 {
        position: absolute;
        top: 210px;
        left: 20px;
        font-size: 24px;
    }
    p {
        position: absolute;
        top: 250px;
        left: 20px;
    }
}
.rec-page {
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 54px;
    top: 300px;
    left: 480px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0.6rem;
}

//필터컨테이너
.pkg-filter-box-wrapper {
    display: block;
}

.pkg-filter-box {
    height: 250px;
    display: flex;
    border: 2px solid #ddd;
    border-radius: 15px;
}
.pkg-datepicker-box,
.pkg-filter-sort,
.pkg-filter-keyword {
    padding: 20px 20px 20px 20px;
    p {
        margin-bottom: 20px;
    }
}
.pkg-datepicker-box {
    width: 20%;
    height: 150px;
    margin: 30px;
    // background-color: #aaa;
}
.date {
    width: 110%;
    height: 30px;
    padding-left: 5px;
    color: #333333;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}
// daterangepicker 공통
.daterangepicker {
    padding: 70px 200px;
    width: 1420px;

    &.drop-up {
        margin-top: -10px;
    }

    .drp-calendar {
        max-width: none;
        &.left {
            .calendar-table {
                padding-right: 150px;
            }
        }
        .calendar-table {
            th,
            td {
                font-size: 14px;
                line-height: 2.5;
            }
            td {
                width: 60px;
                height: auto;
                &.active {
                    border-radius: 50%;
                }
            }
        }
    }

    .drp-buttons {
        padding-top: 20px;
        border: none;
        border-top: 1px solid #eaeaea;
        line-height: 1;
        .btn {
            font-size: 18px;
        }
    }
    .drp-selected {
        margin-right: 30px;
        padding: 4px 0;
        font-size: 20px;
        color: #000;
        vertical-align: middle;
    }
}
.pkg-filter-sort {
    width: 20%;
    height: 150px;
    margin: 30px 0 30px 30px;
    // background-color: #aaf;
}
.pkg-filter-keyword {
    width: 40%;
    height: 250px;
    // background-color: #faf;
    .keword-wrap {
        // background-color: #0af;
        height: 150px;
        margin: 30px 0 30px 0;
        border-right: 1px solid #ddd;
        // padding: 0 40px 0 0;
        ul {
            display: flex;
            flex-wrap: wrap;
        }
        li {
            display: inline-block;
            width: 80px;
            height: 30px;
            text-align: center;
            margin: {
                right: 20px;
                bottom: 10px;
            }
            &:nth-of-type(5) {
                margin-left: 40px;
            }
            input[type="checkbox"] {
                display: none;
            }
            label {
                display: inline-block;
                background-color: #fff;
                border: 1px solid #333;
                border-radius: 5px;
                width: 100%;
                height: 100%;
                line-height: 1.8rem;
            }
            input[type="checkbox"]:checked + label {
                color: #ddd;
                background-color: #333;
            }
        }
    }
}
.pkg-btnbox {
    width: 10%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px;
    align-items: center;
}
.pkg-filter-resetbtn,
.pkg-filter-searchbtn {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.pkg-filter-searchbtn {
    color: #fff;
    background-color: #333333;
}
//상품개수 출력 및 정렬드롭다운
.pkg-section {
    height: auto;
    margin: 20px 0;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.pkg-total {
    height: 30px;
    line-height: 2;
    font-size: 18px;
}
.dropdown {
    width: 130px;
    display: inline-block;
    position: relative;
    font-size: 16px;
}
.sortbox,
.typebox {
    height: 30px;
    background: url(../../img/icon/icn_collps01.png) no-repeat right 10px center;
    background-size: 10px auto;
    padding-left: 8px;
    line-height: 2;
    cursor: pointer;
}
.typebox {
    border-bottom: 1px solid #ddd;
}
.sortbox {
    border: 1px solid #ddd;
}
.dropdown-item-sort,
.dropdown-item-type {
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    z-index: 1;
    width: 130px;
    list-style: none;
    position: absolute;
    display: none;
}
.dropdown.on > .dropdown-item-sort,
.dropdown.on > .dropdown-item-type {
    display: block;
}
.dropdown.on > .sortbox,
.dropdown.on > .typebox {
    background-image: url(../../img/icon/icn_collps02.png);
}

.dropdown-item-sort > li,
.dropdown-item-type > li {
    padding: 10px 0 8px 5px;
    height: 30px;
    line-height: 1;
}

.dropdown-item-sort > li:hover,
.dropdown-item-type > li:hover {
    background-color: #333;
    color: #fff;
}
//패키지상품리스트
.event-container {
    width: 100%;
    height: 100%;
    .list-item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .list-container {
            width: calc(50% - 20px);
            margin-bottom: 40px;
            .txt-wrapper,
            .bottom-wrapper {
                margin-top: 20px;
            }
            a {
                display: block;
                width: 100%;
                .img-wrapper {
                    width: 100%;
                    height: 420px;
                    position: relative;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        // object-fit: cover;
                    }
                    .pkg-rewards {
                        width: 16%;
                        height: 26%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: #7a6c64;
                        padding: 14px;
                        font-size: 1.2em;
                        text-align: center;
                        color: #fff;
                        img {
                            width: 60%;
                            height: 60%;
                            transform: translate(32%, 0%);
                        }
                    }
                }
            }
            .txt-wrapper {
                font-size: 16px;
                .list-keword {
                    display: inline-block;
                    width: auto;
                    padding: 8px 15px;
                    height: 100%;
                    color: #fff;
                    background-color: #1f453a;
                    border-radius: 5px;
                    text-align: center;
                }
                .pmt {
                    background-color: #d20a10;
                    color: #fff;
                }
                h3 {
                    font-size: 30px;
                    font-weight: 700;
                    padding: 20px 0;
                    @include ellipsis;
                }
                .offer-des {
                    min-height: 42px;
                    line-height: 1.3;
                }
                .offer-date {
                    color: #757575;
                    padding: 20px 0;
                    border-bottom: 1px solid #757575;
                }
            }
            .bottom-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .offer-pay {
                    font-weight: 600;
                    font-size: 24px;
                }
                .event-btn {
                    width: 130px;
                    height: 40px;
                    border: 1px solid #333;
                    @include flex-center;
                    &:hover {
                        transition: background-color 0.4s ease;
                        background-color: #7a6c64;
                        color: #fff;
                        border: none;
                    }
                }
            }
        }
    }
}

//페이지네이션
.page-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 20px 0;
    .pkg-paging {
        display: flex;
        & button {
            display: inline-block;
            margin-right: 20px;
            font-size: 20px;
        }
    }
    .active {
        font-weight: bold;
        text-decoration: underline;
    }
    .pagepng {
        background-image: url("../../img/common/bg_pageination.png");
        width: 25px;
        height: 25px;
        border: none;
        background-color: #fff;
    }
}
#first-page {
    background-position: 0 0;
}

#prev-page {
    background-position: 0 -25px;
}

#next-page {
    background-position: 0 -50px;
}

#last-page {
    background-position: 0 -75px;
}
