.room-top-intro{
    padding-top: 10px;
}
.room-box-wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .room-box{
        margin-right: 20px;
        width: calc((100% - 20px)/2);
        a{
            display: block;
            width: 100%;
            .img-wrap{
                width: 100%;
                height: 400px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .txt-wrap{
                padding: 30px 40px;
                line-height: 1.5;
            }
        }
        &:nth-child(2n){
            margin-right: 0;
        }
    }
}