/* 3depth title 공통 */
.container {margin-top: 80px;}
.sub-title {display: flex; align-items: end; justify-content: space-between;margin-bottom: 30px; padding: 50px 10px 20px;position: relative;}
.sub-title::after {content: "";display: block;width: 100%;height: 2px;background: #ddd;position: absolute;left: 0;bottom: 0;}
h2 {font-size: 22px; font-weight: 700;}
.location {display: flex; align-items: center;}
.location > li {margin-right: 30px; position: relative;}
.location > li:last-child {margin: 0;}
.location > li::after {content: ""; display: inline-block; width: 5px; height: 5px; border: 1px solid #777; border-left: 0;border-bottom: 0; transform: rotate(45deg); position: absolute; top: 5px;right: -15px;}
.location > li:last-child::after {display: none;}
.location > li > a {font-size: 13px;}
.location > li:last-child > a, 
.location > li a:hover {text-decoration: underline;text-underline-position: under;}


/* 3depth tab 공통 */
/* tab */
.depth3-tab-wrap .tab {display: flex; align-items: center;margin-bottom: 30px;}
.depth3-tab-wrap .tab > li {width: calc(100%/7); text-align: center;line-height: 40px;border: 1px solid #ddd;border-right: 0;background: #fff; cursor: pointer;}
.depth3-tab-wrap .tab > li:last-child {border-right: 1px solid #ddd;}
.depth3-tab-wrap .tab > li.on {border-bottom: 1px solid transparent;font-weight: 700;}
.depth3-tab-wrap .tab > li:hover {font-weight: 700;text-decoration: underline;text-underline-position: under;}
.depth3-tab-wrap .tab.on {position: fixed;top: 0;left: 50%;transform: translateX(-50%);width: 1420px;}
/* tab-contents */
.tab-contents > .tab-cont {height: 200vh; display: none;}
.tab-contents > .tab-cont.on {display: block;}
.tab-contents > .tab-cont:nth-child(1) {background: lightcoral;}
.tab-contents > .tab-cont:nth-child(2) {background: lightsalmon;}
.tab-contents > .tab-cont:nth-child(3) {background: lightyellow;}
.tab-contents > .tab-cont:nth-child(4) {background: lightgreen;}
.tab-contents > .tab-cont:nth-child(5) {background: lightblue;}
.tab-contents > .tab-cont:nth-child(6) {background: lightskyblue;}
.tab-contents > .tab-cont:nth-child(7) {background: lightgrey;}


