#shilla-join {
    position: absolute;
    width: 1500px;
    height: 1500px;
    margin-top: 200px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    padding: 10px;

    .clause-wrap {
        height: 900px;
        background-color: #faf8f4;
        border-radius: 5px;
        padding: 20px;
        margin-top: 10px;
        .join {
            text-align: center;
            margin-bottom: 10px;
        }
        .agree,
        .direction {
            margin-bottom: 20px;
        }
    }

    .clause-container {
        display: flex;
        flex-direction: column;
        margin: 10px;
        gap: 10px;
        .clause {
            height: 200px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            background-color: #fff;
            overflow: auto;
        }
        input {
            width: 100px;
            color: #333;
        }
    }

    .join-container {
        margin-top: 20px;

        .info-title {
            padding: 10px;
        }
        .info-group {
            display: flex;
            align-items: center;
            margin: 10px;
        }
        label {
            width: 150px;
            padding: 10px;
            font-size: 16px;
        }
        input {
            display: flex;
            width: 300px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #333;
            box-sizing: border-box;
        }
        #firstname,
        #lastname {
            width: 145px;
            margin-right: 10px;
        }
        button {
            position: relative;
            display: flex;
            width: 100px;
        }
        #submit {
            width: 500px;
            padding: 10px;
            left: 30%;
            font-size: 16px;
            align-items: center;
            background-color: #7a6c64;
            color: white;
        }
        #submit:hover {
            background-color: #333;
        }
    }
}
