.pkg-header {
    width: 1420px;
    height: 700px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.pkg-logo {
    margin-top: 80px;
    font-size: 40px;
    // text-align: center;
    background-color: #aff;
    position: relative;
}
.pkg-logo::after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #ddd;
    width: 1420px;
    height: 2px;
}
.pkg-detail {
    margin-top: 80px;
    width: 100%;
    height: 900px;
    background-color: #faf;
}
.detail-con {
    height: 800px;
    background-color: #aaf;
}
.detail-list {
    width: 100%;
    background-color: #ffa;
    .list1 {
        width: 100%;
        background-color: #aaa;
        padding: 15px 0 15px 50px;
        display: flex;
        span {
            font-size: 18px;
            width: 360px;
            height: 100px;
            background-color: #d93d3d;
            display: inline-block;
            img {
                display: block;
                width: 60px;
                left: 10px;
                padding: 0 0 5px 15px;
            }
        }
        .list-item {
            width: 100%;
            background-color: #aff;
            display: inline-block;
            margin: 0 100px 0 100px;
            font-size: 14px;
            position: relative;
            .offer-room {
                position: absolute;
                width: 180px;
                height: 40px;
                background: #1f453a;
                color: #fff;
                top: 25px;
                right: 50px;
                text-align: center;
                line-height: 3;
            }
        }
    }
}
.detail-list::after {
    content: "";
    width: 1420px;
    height: 2px;
    background: #000;
    position: absolute;
}
.section-title {
    margin-top: 100px;
}
.pkg-description-wrap {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .description1 {
        width: 450px;
        height: 500px;
        background-color: #7a6c64;
        position: relative;
        img {
            width: 100%;
            height: 330px;
        }
        div {
            position: absolute;
            bottom: 0;
            padding: 20px 0 20px 20px;
            color: #fff;
        }
        div:first-of-type {
            top: 330px;
            font-weight: 600;
            font-size: 20px;
        }
        div:last-of-type {
            top: 360px;
            line-height: 1.5;
        }
    }
    .description2,
    .description3,
    .description4 {
        position: relative;
        display: block;
        width: 270px;
        height: 500px;
        background-color: #ffa;
        .description-text {
            width: 270px;
            height: 100px;
            background-color: #fff;
            padding: 20px 0 20px 0;
            text-align: center;
            font-weight: 700;
            line-height: 4.5;
        }
        .description-text:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: #7a6c64;
            top: 0;
            left: 0;
        }
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    }
    .description2 {
        img {
            object-position: -350px;
        }
    }
    .description3 {
        img {
            object-position: -290px;
        }
    }
}
.pkg-fitness {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-bottom: 30px;
    background-color: #ffa;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #7a6c64;
        bottom: 0;
        left: 0;
    }
}

.pkg-info {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 50px 0 50px 0;
    padding: 20px 0 30px 20px;
    background-color: #faf;
    .info-text {
        font-size: 12px;
    }
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #7a6c64;
        bottom: 0;
        left: 0;
    }
}
.other-pkg {
    width: 100%;
    height: 500px;
    background-color: #d93d3d;
    margin-bottom: 100px;
    .other-title {
        width: 100%;
        height: 50px;
        background-color: #fff;
        text-align: center;
    }
}
.other-list {
    width: 100%;
    height: 100px;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
}
.other-item {
    img {
        width: 450px;
        height: 250px;
        display: block;
    }
    dt {
        font-weight: 600;
        font-size: 20px;
        margin: 20px 0 10px 0;
    }
    dd {
        padding: 20px 0 20px 0;
    }
    dd:first-of-type {
        position: relative;
        color: #ddd;
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: #ddd;
            bottom: 0;
            left: 0;
        }
    }
    .other-pay {
        font-weight: 600;
        font-size: 20px;
    }
}
.d-day-wrap {
    margin: 120px auto 0;
    position: relative;
    bottom: 0;
    width: 1420px;
    height: 100px;
    background-color: #7a6c64;
    border-radius: 15px;
    padding: 20px 0 30px 50px;
    color: #fff;
    &.on {
        position: fixed;
        bottom: 0;
        z-index: 50;
        .d-day {
            width: 100%;
        }
    }
    .d-day {
        // width: 100%;
        // height: 100px;
        // background-color: #7a6c64;
        // border-radius: 15px;
        // padding: 30px 0 30px 50px;
        // color: #ddd;
        line-height: 4;
        position: relative;
        .d-day-reservation {
            position: absolute;
            width: 350px;
            height: 60px;
            border-radius: 15px;
            background-color: #fff;
            top: 0;
            left: 1000px;
            color: #000;
            text-align: center;
            line-height: 4;
        }
    }
}

footer {
    width: 100%;
    height: 100px;
    background-color: #7a6c64;
}
