@charset "UTF-8";
// .pkg-wrapper {
//     width: 100%;
//     margin: 0;
//     padding: 0;
// }
.pkg-wrapper {
    width: 100%;
    min-width: 1420px;
}
.pkg-rec {
    position: relative;
    // display: block;
    // width: 100%;
    // min-width: 1820px;
    // height: 300px;

    background-color: #ffa;
    .rec-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .rec-btn {
        position: absolute;
        z-index: 1;
        width: 25px;
        height: 25px;
        background-color: #faa;
        top: 120px;
        display: block;
        &.left {
            border: 1px solid #fff;
            left: 600px;
        }
        &.right {
            border: 1px solid #fff;
            left: 1200px;
        }
    }
}
.rec-section {
    position: relative;
    width: 600px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    .img-wrap {
        width: 600px;
        height: 350px;
        display: block;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .txt-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 30px;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        h2 {
            position: absolute;
            top: 150px;
            left: 30px;
        }
        p {
            position: absolute;
            top: 180px;
            left: 30px;
        }
    }
    .rec-page {
        // display: block;
        position: absolute;
        background-color: #fff;
        border-radius: 54px;
        top: 220px;
        left: 400px;
        width: 60px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 0.6rem;
    }
}

.pkg-filter-box-wrapper {
    display: block;
    height: 300px;
    // background-color: #faf;
}

.pkg-filter-box {
    height: 300px;
    display: flex;
    border: 2px solid #ddd;
    border-radius: 15px;
}
.pkg-datepicker,
.pkg-filter-sort,
.pkg-filter-keyword {
    padding: 40px 20px 40px 20px;
    p {
        margin-bottom: 15px;
    }
}
.pkg-datepicker {
    width: 40%;
    height: 300px;
    background-color: #aaa;
}
.pkg-filter-sort {
    width: 10%;
    height: 300px;
    background-color: #aaf;
}
.pkg-filter-keyword {
    width: 40%;
    height: 300px;
    background-color: #faf;
    .keword-wrap {
        background-color: #0af;
        height: 220px;
        border-right: 5px solid #ddd;
        padding: 0 40px 0 0;
        ul {
            display: flex;
            flex-wrap: wrap;
        }
        li {
            display: inline-block;
            width: 80px;
            height: 30px;
            // border: 2px solid #ddd;
            // border-radius: 10px;
            text-align: center;
            margin: {
                right: 20px;
                bottom: 10px;
            }
            &:nth-of-type(5) {
                margin-left: 40px;
            }
            input[type="checkbox"] {
                display: none;
            }
            label {
                display: inline-block;
                background-color: #ddd;
                border: 1px solid #333;
                border-radius: 5px;
                width: 100%;
                height: 100%;
                line-height: 1.8rem;
            }
            input[type="checkbox"]:checked + label {
                color: #ddd;
                background-color: #333;
            }
        }
    }
}
.pkg-btnbox {
    width: 10%;
    height: 300px;
    background-color: #cac;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 110px 20px;
    align-items: center;
}
.pkg-filter-resetbtn,
.pkg-filter-searchbtn {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
}

.pkg-filter-searchbtn {
    color: #fff;
    background-color: #333333;
}
.pkg-section {
    height: 40px;
    margin: 20px 0;
    padding: 10px 0 10px 0;
    background-color: #aff;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.pkg-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #ccc;
    width: 100%;
    height: 2px;
}
.pkg-list {
    width: 100%;
    height: 100%;
    background-color: #aaa;
}
.pkg-list > ul {
    li {
        padding: 0;
        display: inline-block;
        width: 660px;
        background-color: #faa;
        a {
            display: inline;
        }
    }
    li:nth-of-type(2n + 1) {
        margin-right: 95px;
    }
}
.pkg-list-container {
    // display: block;
    position: relative;
    width: 100%;

    .img-wrapper {
        // width: 100%;
        display: block;
        height: 400px;
        img {
            display: block;
            width: 660px;
            height: 400px;
            // object-fit: cover;
        }
    }
    dt {
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-weight: 600;
    }
    dd,
    .pkg-date {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        // background-color: #aaf;
    }
    .list-keword {
        // 해결하기
        display: inline-block;
        width: 90px;
        height: 100%;
        padding: 10px;
        color: #fff;
        background-color: #1f453a;
        border-radius: 5px;
        text-align: center;
    }
    .none {
        height: 34px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    // .list-keword > span {
    //     display: inline-block;
    //     width: 90px;
    //     height: 100%;
    //     padding: 10px;
    //     color: #fff;
    //     background-color: #1f453a;
    //     border-radius: 5px;
    //     text-align: center;
    // }
    .pkg-pay {
        font-size: 1.3rem;
        color: #ccc;
        margin-bottom: 20px;
    }
    .pkg-rewards {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        background-color: #7a6c64;
        padding: 6px;
        font-size: 11px;
        text-align: center;
        display: inline-block;
        img {
            width: 34px;
        }
        span {
            color: #fff;
            display: block;
        }
    }
}
.page-container {
    height: 40px;
    background-color: #0af;
    .pkg-paging {
        display: flex;
        justify-content: center;
    }
    button {
        display: inline-block;
        width: 30px;
        height: 40px;
        align-items: center;
    }
    .active {
        font-size: large;
        text-decoration: underline;
    }
}
.xx {
    height: 100px;
    background-color: #7a6c64;
}
