.container {
  display: flex;
  width: 100%;
}
.container .depth3-tab-wrap .tab li {
  width: 33.3333333333%;
}
.container #board-container {
  margin-top: 100px;
  margin-bottom: 140px;
}
.container #board-container .inquiry-info .myinquiry .title {
  margin-top: 80px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}
.container #board-container .inquiry-info .myinquiry .board-nav {
  display: flex;
  font-weight: bold;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.container #board-container .inquiry-info .myinquiry .board-nav li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #ccc;
}
.container #board-container .inquiry-info .myinquiry .board-nav li:nth-child(1) {
  flex: 0.5;
}
.container #board-container .inquiry-info .myinquiry .board-nav li:nth-child(2) {
  flex: 2;
}
.container #board-container .inquiry-info .myinquiry .board-nav li:nth-child(3), .container #board-container .inquiry-info .myinquiry .board-nav li:nth-child(4) {
  flex: 1;
}
.container #board-container .inquiry-info .myinquiry .board-nav li:last-child {
  border-right: none;
}
.container #board-container .inquiry-info .myinquiry .inquiry-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item {
  margin-bottom: 10px;
}
.container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details li {
  flex: 1;
  text-align: center;
}
.container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details li:nth-child(1) {
  flex: 0.5;
}
.container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details li:nth-child(2) {
  flex: 2;
}
.container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details li:nth-child(3), .container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details li:nth-child(4) {
  flex: 1;
}
.container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-content {
  height: 0;
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  overflow: auto;
  transition: all 0.3s;
  /*text-align: center;*/
}
.container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-content.on {
  height: 150px;
  padding: 20px 30px;
  border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    width: 100%;
  }
  .container .depth3-tab-wrap .tab li {
    width: 33.3333333333%;
  }
  .container #board-container {
    margin-top: 100px;
    margin-bottom: 140px;
  }
  .container #board-container .inquiry-info .myinquiry .title {
    margin-top: 80px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
  }
  .container #board-container .inquiry-info .myinquiry .board-nav {
    display: flex;
    font-weight: bold;
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .container #board-container .inquiry-info .myinquiry .board-nav li {
    flex: 1;
    text-align: center;
    border-right: 1px solid #ccc;
  }
  .container #board-container .inquiry-info .myinquiry .board-nav li:nth-child(1) {
    flex: 0.5;
    display: none;
  }
  .container #board-container .inquiry-info .myinquiry .board-nav li:nth-child(2) {
    flex: 2;
  }
  .container #board-container .inquiry-info .myinquiry .board-nav li:nth-child(3), .container #board-container .inquiry-info .myinquiry .board-nav li:nth-child(4) {
    flex: 1;
  }
  .container #board-container .inquiry-info .myinquiry .board-nav li:last-child {
    border-right: none;
  }
  .container #board-container .inquiry-info .myinquiry .inquiry-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item {
    margin-bottom: 10px;
  }
  .container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details li {
    flex: 1;
    text-align: center;
    padding: 15px 0;
  }
  .container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details li:nth-child(1) {
    flex: 0.5;
    display: none;
  }
  .container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details li:nth-child(2) {
    flex: 2;
  }
  .container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details li:nth-child(3), .container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-details li:nth-child(4) {
    flex: 1;
  }
  .container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-content {
    height: 0;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    overflow: auto;
    transition: all 0.3s;
    /*text-align: center;*/
    line-height: 1.7;
  }
  .container #board-container .inquiry-info .myinquiry .inquiry-list .inquiry-item .inquiry-content.on {
    height: 150px;
    padding: 10px 20px;
    border: 1px solid #ccc;
  }
}