.cont2 {
    padding: 20px;

    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
    }

    .table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 auto;

        .table-header {
            background-color: #f4f4f4;
            font-weight: bold;

            .table-row {
                display: flex;

                .cell {
                    flex: 1;
                    padding: 10px;
                    border: 1px solid #ccc;
                    text-align: center;
                    word-break: break-word; /* 긴 텍스트가 줄바꿈 되도록 설정 */
                }
            }
        }

        .table-body {
            .table-row {
                display: flex;
                background-color: #f0f0f0;

                .cell {
                    flex: 1;
                    padding: 10px;
                    border: 1px solid #ccc;
                    text-align: center;
                    line-height: 29px;

                    /* 특이사항 input의 스타일 */
                    input {
                        width: 100%; /* 셀 크기에 맞게 너비를 조정 */
                        padding: 5px; /* padding 추가 */
                        border: 1px solid #ccc;
                        box-sizing: border-box; /* padding을 포함한 너비로 설정 */
                    }
                }
            }
        }
    }
}

// @@@@@@@@@@@@@@@

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 화면 전체를 차지하도록 설정 */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 회색 반투명 배경 */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-height: 80vh; /* 최대 높이를 설정 */
    overflow-y: auto; /* 세로 스크롤 추가 */
    position: relative;
    box-sizing: border-box;
}

/* 스크롤바 스타일을 추가하여 border-radius 효과를 적용 */
.modal-content::-webkit-scrollbar {
    width: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

// .close {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     font-size: 30px;
//     cursor: pointer;
// }
