@charset "UTF-8";

@import url(./common.css); 

header {
    position: fixed; 
    top: -80px; 
    left: 0;  
    width: 100%;
    transition: all 0.2s; 
    color: #666;
    z-index: 99;
    background: #FAF8F4 !important; 
    font-weight: 500;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);

    &.active {
        top: 0;
    }
    // &.on {
        // background: #FAF8F4 !important; 
        // color: #666;
    //     font-weight: 500;
    //     box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    //     .gnb > li::after {
    //         background: #aaa;
    //     }
    // }

    .center {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > .btn-wrap {
            display: none;
            margin: 0;
    
            &.on {
                display: block;
            }
    
            & > a {
                font-size: 15px; 
                line-height: 80px;
                font-weight: 500;
    
                &:hover {
                    color: #000; 
                    font-weight: 800;
                }
    
                &:last-child {
                    margin-left: 30px;
                }
            }
        }
    }

    .logo {
        width: 150px;

        & > a {
            width: 100%;

            & > img {
                width: 100%;
            }
        }
    }
}


.gnbbg {
    position: absolute; 
    top: 80px;
    left: 0;
    width: 100%;
    height: 0px;
    background: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    transition: all 0.4s;

    &.on {height: 240px;}
}

.gnb {
    display: flex; 
    align-items: center;

    & > li {
        position: relative; 
        width: 150px; 
        text-align: center;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%); 
            width: 1px; 
            height: 15px; 
            background: #fff;
        }

        &:last-child::after {
            display: none;
        }

        & > a {
            position: relative; 
            width: 100%;
            height: 100%;
            font-size: 15px; 
            line-height: 80px;

            &::after {
                content: '';
                display: block; 
                position: absolute; 
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 1px;
                background: #000;
                transition: all 0.4s;
            }
        }

        &.on > a::after {
            width: 100%;
        }

        a:hover {
            color: #000;
            font-weight: 700;
        }
    }

    .depth2 {
        position: absolute; 
        top: 80px; 
        left: 0;
        padding: 0; 
        width: 170px; 
        height: 0;
        overflow: hidden;
        transition: all 0.4s;

        & > li > a {
            line-height: 40px;

        }
    }

    &:hover .depth2 {
        padding: 20px 0; 
        height: 240px;
    }
}




// 반응형 

